<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

 <body class="no-skin">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

            <a href="/opus" class="navbar-brand restart">
            OPUS
            </a><!-- /.brand -->

        </div><!-- /.navbar-header -->

        <div class="navbar" id="navbar">

            <ul class="nav navbar-nav main_site_tabs">
                <li class="active"><a href="#search">Search</a></li>
                <li><a href="#browse">Browse Results &nbsp;&nbsp; <span id = "result_count" class="badge badge-primary badge-xlg badge-success">0</span></a></li>
                <li><a href="#collection">Selections &nbsp;&nbsp; <span id = "collection_count" class="badge badge-primary badge-xlg badge-success">0</span></a></li>
                <li><a href="#detail">Detail</a></li>

                <!-- li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Detail <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#detail">S/IMG/CO/ISS/1444749756/W</a></li>
                      <li><a href="#detail">S/IMG/CO/ISS/1444749812/W </a></li>
                      <li><a href="#detail">S/IMG/CO/ISS/1444750028/W</a></li>
                    </ul>
                </li -->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li style = "white-space:nowrap; color:white;" class = "hidden-xs">
                    <a class = "old_opus hidden-xm hidden-sm" style = "color:yellow" href="http://pds-rings.seti.org/opus1/">Looking for original OPUS?</a>
                </li>

                <li><a class = "restart" href="./">Start Over</a></li>
            </ul>
        </div><!-- navbar-collapse -->

    </div><!--  navbar-container -->
</nav><!-- navbar -->

<div class="main-container" id="main-container">

    {% block content %}


    <div class="main-container-inner">

        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <!-- tabs -->
        {% include "tabs.html" %}

    </div><!--/.main-container-inner-->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>

    {% endblock %}


</div><!--/.main-container-->


{% include "footer.html" %}


</body>
</html>
