{% block base %}   
<!DOCTYPE html>

<head>
<meta charset="UTF-8">
	
<title>OPUS 2 -- DEMO ONLY!!!</title>
                       
<link rel="stylesheet" href="{{ MEDIA_URL }}css/flick/jquery-ui-1.8.14.custom.css" type="text/css" media="screen">
<!--link rel="stylesheet" href="{{ MEDIA_URL }}css/smoothness/jquery-ui-1.8.17.custom.css" type="text/css" media="screen"  -->
<link rel="stylesheet" href="{{ MEDIA_URL }}css/shadowbox/shadowbox-3.0.3/shadowbox.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jqModal.css" type="text/css" media="screen">

<!-- script src="{{ MEDIA_URL}}js/libs/jquery-1.7.1.min.js"></script -->
<!-- script src="{{ MEDIA_URL}}js/libs/jquery-ui-1.8.11.custom.min.js"></script -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"></script>

<link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" media="screen">
      

{% block more_head %}   
{% endblock %}     

</head>
     
<body>      

<div id = "content">	  
{% block content %}
{% endblock %}     
</div>
                       
{% block scripts %}
<script src = "{{MEDIA_URL }}js/libs/jqModal.js" type="text/javascript" ></script> 
<script src = "{{MEDIA_URL }}js/libs/StickyTableHeaders.js" type="text/javascript" ></script> 
<script src = "{{MEDIA_URL }}js/libs/scroll-startstop.events.jquery.js" type="text/javascript" ></script> 
<script src = "{{MEDIA_URL }}js/libs/shadowbox.js" type="text/javascript" ></script>
<script src = "{{MEDIA_URL }}js/libs/jquery-cookie/jquery.cookie.js" type="text/javascript" ></script>
                       

{% endblock  %}
      

{% block more_end %}
{% endblock %}     


<div id = "end_of_page"><p>&nbsp;</p></div>
</body>   
</html>	
{% endblock %} {# base block #}