<div class="navbar-container-fluid">
   <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav browse_controls pull-right">

            <li class = "paging">
                <a href="" class="prev">prev</a>
            </li>

            <li class = "paging">
                <a href="" class="next">next</a>
            </li>

            <li>
                page <input size="4" id="page_no" class="page_no" value="" type="text">
                of <span id="pages">8660</span>
            </li>

            <li class="view_indicator">
                <a href="" class="gallery_view">gallery view</a>
            </li>

            <li>
               <a href="" class="data_view">table view</a>
            </li>

            <li class="cart_control">
                <a href="" class="addrange">add range</a>
            </li>

            <li>
                <a href="" class="get_column_chooser">choose columns</a>
            </li>

        </ul>   <!-- browse_controls -->
    </div>
</div>
