<div class="browse-container navbar-container top_navbar col-xs-12">
   <div class="navbar-collapse">
        <ul class="nav navbar-nav browse_controls">

            <li class = "paging">
                <a href="" class="prev">prev</a>
            </li>

            <li class = "paging">
                <a href="" class="next">next</a>
            </li>

            <li class = "paging_indicator">
                page <input size="4" id="page" value="" type="text">
                <span class = "text-nowrap">of <span id="pages" class = "pages"></span></span>
            </li>

            <li class="cart_control">
                <a href="" class="addrange">add range</a>
            </li>

            <li>
                <a href="" class="get_column_chooser">choose columns</a>
            </li>

            <li>
                <a href="" class="browse_view">view table</a>
            </li>

        </ul>   <!-- browse_controls -->
    </div>
</div>
