<div class = "col-md-6"><!-- data col -->

    <div class = "well well-lg col-md-12">

        <h1>Ring Observation Detail </h1>
        <p><b>Ring Observation ID: </b>{{ img.ring_obs_id}}</p>

        <h3> PDS Products: </h3>

        <div class = "col-md-8">

                {% for product_type, files in file_list.items %}
                    <ul class = "list-inline">
                    {{ product_type }}:

            	    {% for f in files %}
            			<li><a href = "{{ f.link }}" target = "_blank">{{ f.ext }}</a> </li>
            		{% endfor %}
            </ul>
                {% endfor %}

        </div>

        <div class = "col-md-4 collection_download_button">
            <a title = "download as tar archive" id = "create_zip_file" href = "zip/{{ img.ring_obs_id}}.json">
                <button type="button" class="btn btn-sm btn-success">
                    <b>Download All Products</b>
                </button>
            </a>
        </div>


    </div>

    <div class = "col-md-12 well well-lg">

        <h2>Rings Node Supplemental Products:</h2>

            <ul class = "list-inline">
                Preview Images:
            	<li><a target = "_blank" href = "{{ path }}{{ img.full }}">Full</a></li>
        	   <li><a target = "_blank" href = "{{ path }}{{ img.med }}">Medium</a></li>
        	   <li><a target = "_blank" href = "{{ path }}{{ img.small }}">Small</a></li>
               <li><a target = "_blank" href = "{{ path }}{{ img.thumb }}">Thumb</a></li>

        <ul class = "list-inline">
            Metadata:
            <li><a href = "api/detail/{{ img.ring_obs_id }}.json" target = "_blank">json</a></li>
        </ul>
    </div>


    <div class = "col-md-12 well well-lg ">
        <h3>Metadata for this Observation:</h3>

        <ul id = "detail_data" class = "">
            {% for cat,d in data.items %}
            <li>{{ cat }}:
                <ul class = "">
                {% for param,val  in d.items %}
                    <li>
                    {{ param }}: {{val}}
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </div>

</div><!-- /data col -->

<div id = "detail_image" class = "col-md-6">
    <a class = "shadowbox" href = "{{ path }}{{ img.full }}" rel="shadowbox" target = "_blank">
        <img  id = "detail__{{ img.ring_obs_id }}" src = "{{ path }}{{ img.med }}">
    </a>

    <div>
        <p>
            {% if preview_guide_url %}

                Read about <a href = "{{ preview_guide_url }}" target = "_blank">how to interpret {{ instrument_id }} preview images</a>

            {% endif %}
        </p>

    </div>
</div>
