<ul class = "columns_metadata">

{% for pair in data %}
    <li>
        {% for param, value in pair.items %}
          {% for name, param_info in all_info.items %}
              {% if param == param_info.name %}

                  {{ param_info.label_results }}: {{ value }}

                  {% if param_info.get_dictionary_info %}
                      <i class = "fa fa-info-circle" title = "
                          {{ param_info.get_dictionary_info.def|striptags }}
                      "></i>
                  {% endif %}
              {% endif %}
          {% endfor %}

        {% endfor %}

    </li>

{% endfor %}
</ul>
