{% for i in data  %}
    
    <li id = "gallery__{{i.ring_obs_id}}">
    	<a class = "activeThumbnail" href = "{{ path }}{{ i.full }}" data-rel="colorbox">
            <img width = "125px" alt="{{ i.ring_obs_id }}" title = ""

            {% if 'http' in i.img %}

                src = "{{ i.img }}">

            {% else %}

                src = "{{ path }}{{ i.img }}">

            {% endif %}

             <!-- div class="text">
                <div class="inner">{{ i.ring_obs_id }}</div>
             </div -->

        </a>

        <div class="tools tools-bottom

            {% if i.in_collection %} in {% endif %} ">

            <a href="#"><!-- detail page link -->
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>


            <a href="#"><!-- checkmark - add to cart -->
                <i class="glyphicon glyphicon-ok 
                    {% if i.in_collection %}
                       thumb_selected_icon
                    {% endif %}
                "></i>
            </a>

            <a href="#" class = "colorbox"><!-- colorbox -->
                <i class="glyphicon glyphicon-resize-full"></i>
            </a>



        </div>

        <div class = "thumb_overlay

            {% if i.in_collection %}  thumb_selected  {% endif %}

        ">&nbsp;</div>

    </li>
    {% endfor %}