<ul class="ace-thumbnails">{% for i in data  %}
    <li id = "gallery__{{i.ring_obs_id}}">
    	<a class = "activeThumbnail" href = "{{ path }}{{ i.full }}" data-rel="colorbox">
            <img width = "125px" alt="{{ i.ring_obs_id }}" title = "{{ i.ring_obs_id }}"
            src = "{{ path }}{{ i.img }}">

             <!-- div class="text">
                <div class="inner">{{ i.ring_obs_id }}</div>
             </div -->

        </a>

        <div class="tools tools-bottom

            {% if i.in_collection %} in {% endif %} ">

            <a href="#">
                <i class="gallery_icons ace-icon fa fa-check

                {% if i.in_collection %}
                   thumb_selected_icon
                {% endif %}

                "></i>
            </a>

            <!-- a href="#">
                <i class="gallery_icons ace-icon fa fa-search-plus"></i>
            </a -->

            <a href="#">
                <i class="gallery_icons ace-icon fa fa-list-alt"></i>
            </a>


        </div>

        <div class = "thumb_overlay

            {% if i.in_collection %}  thumb_selected  {% endif %}

        ">&nbsp;</div>

    </li>{% endfor %}</ul>