{% block menu %}
    <div class = "menu_spinner spinner">&nbsp;</div>
	<ul class = "groups">
    {% for div in menu.divs %}
		<li class = "{{ div.label|slugify }}">
			<div class = "group_label">
				<span class = "menu_div_triangle closed_triangle">&nbsp;</span>
				<a title = "{{ div.table_name }}" href = "">{{ div.label }}</a>
			</div>

            {% for name, info in menu.data.items %}
            {# loop through all names then check if we have *this* div.table_name #}

                {% if name == div.table_name %}
                    {# this param_name is contained in this div #}
                    {% if info.has_sub_heading %}

                        {# #### this div has sub_headings, start sub_heading loop #### #}

                        <ul class = "cats">
                        {% for sub_head,params in info.data.items %}

                            <li class = "{{ sub_head|slugify }}">
                            <span class = "column_checkbox"><!-- for closing this list of items -->
                            <input title = "check all in group" class = "cat_input" type = "checkbox" data-slug="{{ param.slug }}"></span>
                            <span class = "cat_label">
                                <div class = "div.label">
                                <span class = "menu_div_triangle opened_triangle">&nbsp;</span>
                                <a title = "{{ sub_head|slugify }}" href = "">{{ sub_head }}</a>
                            </div>

                            <ul class = "menu_list">
                            {% for p in params %}
                                {% if p.cat_name == sub_head.slugify %}
                                    <li>
                                        <span class = "column_checkbox"><input id = "{{ namespace }}__{{ p.slug }}" class = "param_input" type = "checkbox" data-slug="{{ p.slug }}" data-label = "{{ p.label }}"
                                        {% for slug in cols %}
                                            {% if slug == p.slug %}
                                                checked
                                            {% endif %}
                                        {% endfor %}
                                        ></span>
                                        <a data-cat = "{{ sub_head|slugify }}" data-slug = "{{ p.slug }}" data-group = "{{ div.table_name|slugify }}" title = "{{ p.label }}" href = "">{{ p.label }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul></li>
                        {% endfor %}
                    </ul>

                    {% else %}
                        {# #### this div does not have any sub_headings #### #}

                        <ul class = "menu_list">
                        {% for p in info.data %}
                                {% if p.cat_name == sub_head.slugify %}
                                    <li>
                                        <span class = "column_checkbox"><input id = "{{ namespace }}__{{ p.slug }}" class = "param_input" type = "checkbox" data-slug="{{ p.slug }}" data-label = "{{ p.label }}"
                                        {% for slug in cols %}
                                            {% if slug == p.slug %}
                                                checked
                                            {% endif %}
                                        {% endfor %}
                                        ></span>
                                        <a data-cat = "{{ sub_head|slugify }}" data-slug = "{{ p.slug }}" data-group = "{{ div.table_name|slugify }}" title = "{{ p.label }}" href = "">{{ p.label }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                    {% endif %}
                {% endif %}

            {% endfor %}



		</li>
		{% endfor %} {# end for div in menu.divs #}
	</ul> <!-- div labels -->


{% endblock %}
