
<ul class="nav nav-list"> <!-- was groups -->
<!-- i class = "menu_spinner spinner"></i -->
{% for div in menu.divs %}

	<li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-desktop"></i>
            <span class="menu-text"> {{ div.label }} </span>
            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu"><!-- all div labels have level 2 submenu to list params-->

        {# loop through all params then check if this param belongs to this div.table_name, because templates #}
        {% for name, info in menu.data.items %}
            {% if name == div.table_name %}  {# this param_name IS contained in this div #}

                {% if info.has_sub_heading %}

                    {#  this div has sub_headings, level-3 menu sections.. start sub_heading loop  #}
                    {% for sub_head,params in info.data.items %}
                        {% if p.cat_name == sub_head.slugify %}
                        <li>
                            <a class="dropdown-toggle" data-cat = "{{ sub_head|slugify }}" data-slug = "{{ p.slug }}" data-group = "{{ div.table_name|slugify }}" title = "{{ p.label }}" href = "">
                                <i class="icon-double-angle-right"></i>
                                {{ sub_head }}
                                <b class="arrow icon-angle-down"></b>
                            </a>

                            <ul class="submenu">
                            {% for p in params %}
                                {% if p.cat_name == sub_head.slugify %}
                                <li>
                                    <a data-cat = "{{ sub_head|slugify }}" data-slug = "{{ p.slug }}" data-group = "{{ div.table_name|slugify }}" title = "{{ p.label }}" href = "">
                                        <i class="icon-leaf"></i>
                                        {{ p.label }}
                                    </a>
                                </li>
                                {% endif %}
                            {% endfor %} {# p in params #}
                            </ul>

                        </li>
                        {% endif %} {# if p.cat_name == sub_head.slugify #}

                    {% endfor %} {# for sub_head, params in info.data.items #}

                {% else %}
                    {#  this div does not have sub_headings, list the params  #}
                    {% for p in info.data %}
                        <li>
                            <a data-cat = "{{ sub_head|slugify }}" data-slug = "{{ p.slug }}" data-group = "{{ div.table_name|slugify }}" title = "{{ p.label }}" href = "">
                                <i class="icon-plus"></i>
                                {{ p.label }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}

            {% endif %} {# nem == div.table_name #}
        {% endfor %} {# for name, info in menu.data.items #}
        </ul>
    </li>
{% endfor %} {# for div in menu.divs #}
</ul>

