{% comment %}
    col.0 = slug
	col.1 = label
{% endcomment %}
<table class = "table table-striped table-bordered table-hover data_table">

	<thead>
    <tr>
    	{% for col in columns %}

    	<th class = "center">
    			<a href = "" data-slug = "{{ col.0 }}">{{ col.1 }}
              <span class = "column_ordering fa
              {% if order == col.0 %}
                  {{ sort_icon }}
              {% else %}
                  fa-sort
              {% endif %}
              "></span>
          </a>
  		</div>


    	</th>
        {% endfor %}
    </tr>
    </thead>

	<tbody></tbody>

</table>

<div id="column_header_menu">
	<ul style = "list-style-type:none">
	</ul>
</div>
