<div class="row">
    <div class="col-sm-12">

        <div id="search" class="tab-pane in active">

            <!-- params menu -->
            <div class="sidebar" id="sidebar">
            {% include "menu.html" %}
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <ul id = "search_widgets1">
                    </ul>
                </div>
            </div>

        </div><!-- /search -->

        <div id="results" class="tab-pane">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
        </div>

        <div id="detail" class="tab-pane">
            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
        </div>

        <div id="collection" class="tab-pane">
            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.</p>
        </div>

    </div><!--/col-->
</div><!-- /row -->
