<div class="row">

    <div class="col-md-12">

        <div id="search" class="in active row">

            <!-- params menu -->
            <div class="col-lg-4 col-md-4">
                <div class = "sidebar_wrapper mCustomScrollbar">
                    <div class = "sidebar" id = "sidebar">
                        {% include "menu.html" %}
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 ">
                <div class = "widget_column mCustomScrollbar">
                    <ul id = "search_widgets1" class = ""></ul>
                </div>
            </div>

        </div><!-- /search -->

        <div class = "column_chooser"></div>

        <div id="browse" class="browse_content row">
          <div class = "browse_nav navbar-inverse col-lg-12" role="navigation"></div>
          
          <div class = "embedded_data_viewer_wrapper col-sm-5 col-md-3 col-lg-3">
            <div class = "embedded_data_viewer"></div>
          </div>

          <div class = "gallery col-lg-12"></div>
          <div class = "data col-lg-12"></div>
        </div>

        <div id="detail" class = "row"></div>

        <div id="collection" class="row">
                <div class = "collection_details col-md-4"></div>
                <div class = "col-md-8">
                    <div class = "navbar-inverse browse_nav" role="navigation"></div>
                    <div class = "gallery"></div>
                    <div class = "data"></div>
                </div>
        </div>

    </div><!--/col-->
</div><!-- /row -->
