{% comment %}
	this is all inside of: <li id="widget__{{ slug }}" class = "widget">
{% endcomment %}

<div class="row">
    <div class="col-xs-12 col-sm-12 widget-container-span">
        <div class="widget-box">
            <div class="widget-header header-color-blue2">
                <h5>{{ label }} </h5>
                <div class="widget-toolbar">
                    <a href="#" data-action="collapse"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" data-action="close"><i class="fa fa-times"></i></a>
                </div>
            </div>

            <div class="widget-body">
             <div class="widget-main">
                <ul>
                    {{ form|safe }}
                </ul>
             </div>
            </div>
        </div>
    </div>
</div>