{% comment %}
	this is all inside of: <li id="widget__{{ slug }}" class = "widget">
{% endcomment %}

<div class="row">
    <div class="col-xs-12 col-sm-12 widget-container-span">
        <div class="widget-box widget-color-blue2">
            <div class="widget-header">
                <h5 class="widget-title">{{ label }}{{ append_to_label }}</h5>
                    <a class = "dict_link" href = "{{ dictionary.more_info }}" target = "_blank">
                        <i style = "color:white" class = "ace-icon fa fa-info-circle"></i>
                    </a>
                <span class = "spinner">&nbsp;</span>
                <div class="widget-toolbar">

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up" data-icon-show="fa-chevron-down" data-icon-hide="fa-chevron-up"></i>
                        </a>

                        <a href="#" data-action="close" data-slug="{{ slug }}" class = "close_widget">
                            <i class="fa fa-times"></i>
                        </a>

                </div><!-- /widget-toolbar -->
            </div><!-- /widget-header -->

            <div class="widget__{{ slug }} widget-body">
                <div class="widget-main">
                    <div class = "dictionary">
                        {{ dictionary.def|striptags }} <a href = "{{ dictionary.more_info }}" target = "_blank">More info.</a>
                    </div>
                    <div id = "hint__{{ slug }}" class = "range_hints"></div>
                    <ul>
                        {% if intro %}
                            <div class = "intro">
                                {{ intro }}
                            </div>
                        {% endif %}

                        {{ form|safe }}
                    </ul>
                </div><!-- /widget-main -->
            </div><!-- /widget-body -->
        </div><!-- /widget-box -->
    </div><!-- widget-container-span -->
</div><!-- /row -->