*.pyc
__pycache__
.DS_Store
._*
*~*
*.bak
*.*.bak
temp*.*
*.marks
*.wsgi
*.log
logs
log.txt
nohup.out

.vscode
*venv*
!scripts/*
test_out*
coverage_out*
opus_secrets.py

migrations/

.coverage
htmlcov/

profile.txt