*.pyc
__pycache__
.DS_Store
._*
*~*
*.bak
*.*.bak
temp*.*
*.marks
*.wsgi
*.log
logs
log.txt
nohup.out

venv
p2venv
p3venv
opus_secrets.py

migrations/

.coverage
htmlcov/

run_log_analyzer_end_of_month.sh
run_log_analyzer_refresh_all.sh
run_log_analyzer_update.sh
log_analyzer/.logs
TODO
mypy.ini
ignored-errors
venv38/
opus/application/static_media/coreui/css/style-old.css
