opus/application/static_media/admin linguist-vendored
opus/application/static_media/cdn_fallback linguist-vendored
opus/application/static_media/coreui linguist-vendored
opus/application/static_media/perfect-scrollbar linguist-vendored
