# Generate requirements.txt with:
# pip-compile --unsafe-package pip --unsafe-package setuptools --unsafe-package xattr -U -r
coverage
django == 4.*
django-storages
djangorestframework
flake8
hurry.filesize
jinja2
markupsafe
mistune
mysqlclient
numpy >= 1.26
pdfkit
pillow >= 10.1
pip-tools
pyparsing
pytest
pytz
pyyaml >= 6.0.1
qrcode
regex
requests
rms-julian
rms-pdsfile >= 0.0.18
rms-pdslogger
rms-pdstable
rms-translator