coverage
django == 4.*
django-storages
djangorestframework
flake8
hurry.filesize
mistune
mysqlclient
numpy >= 1.26
pdfkit
pillow >= 10.1
pip-tools
pyparsing
pytest
pyyaml >= 6.0.1
qrcode
regex
requests
rms-julian
rms-pdslogger
rms-pdstable
