<!DOCTYPE html>
<html lang="en">

{% include "ui/header.html" %}

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <div class="app-body container-fluid">
        <nav id="op-main-nav" class="navbar nav-pills fixed-top navbar-expand-lg navbar-dark bg-dark border-bottom border-info op-no-select">
            <div class="container-fluid">
                <a class="op-reset-opus navbar-brand op-base-tooltip" href="#" title="Reset OPUS to its default state">OPUS3</a>
                <ul class="op-tab nav navbar-nav me-auto op-main-site-tabs flex-column flex-sm-row" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="#search" data-bs-toggle="tab" role="tab" aria-controls="search" aria-selected="true">Search</a>
                    </li>
                    <li class="nav-item op-browse-tab">
                        <a class="nav-link" href="#browse" data-bs-toggle="tab" role="tab" aria-controls="browse" aria-selected="false">
                            Browse Results <span id="op-result-count" class="badge bg-primary">0</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#cart" data-bs-toggle="tab" role="tab" aria-controls="cart" aria-selected="false">
                            <i class="fas fa-shopping-cart"></i> Cart <span id="op-cart-count" class="badge bg-primary">0</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#detail" data-bs-toggle="tab" role="tab" aria-controls="detail" aria-selected="false">
                            <i class="fas fa-info-circle"></i> Detail
                            <span class="op-selected-detail"></span>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#op-main-nav-collapse" aria-controls="op-main-nav-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="op-main-nav-collapse">
                    <ul class="op-tab nav navbar-nav me-auto op-main-site-tabs flex-column flex-sm-row" role="tablist">
                        <li class="nav-item external-link blogspot">
                            <a class="nav-link op-blog-link" href="https://ringsnodesearchtool.blogspot.com/" target="_blank" aria-controls="blogspot">
                                <div id="op-last-blog-update-date op-base-tooltip" class="container align-items-center d-flex h-100 my-auto" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">
                                    <img class="newGIF" src="{{ STATIC_URL }}img/new_25.gif" alt="Recent Announcements"/>&nbsp;Recent Announcements
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn op-user-msg op-base-tooltip nav-link" data-bs-toggle="modal" data-bs-target="#op-update-url-modal" title="Click to read an important message"><i class="far fa-envelope-open text-warning"></i><span class=" text-warning"> Message</span></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav flex-column flex-sm-row">
                        <li id="op-help" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle my-0" href="#" id="op-help-menu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-question-circle"></i> Help
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="op-help-menu">
                                <a class="dropdown-item op-help-item op-base-tooltip" data-action="about" href="#" title="Learn about OPUS and its general capabilities">About</a>
                                <a class="dropdown-item op-help-item op-base-tooltip" data-action="gettingStarted" href="#" title="View a detailed introduction to each part of OPUS">Getting Started</a>
                                <a class="dropdown-item op-help-item op-base-tooltip" data-action="tutorialVideos" href="#" title="Watch OPUS tutorials on YouTube">Tutorial Videos</a>
                                <a class="dropdown-item op-help-item op-base-tooltip" data-action="faq" href="#" title="Read the answers to frequently asked questions">FAQ</a>
                                <div class="dropdown-submenu dropstart">
                                    <a class="dropdown-item dropdown-toggle" href="#" id="op-interpret-image-menu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Interpreting Preview Images</a>
                                    <div class="op-interpret-image dropdown-menu" aria-labelledby="op-interpret-image-menu">
                                        <a class="op-submenu-item dropdown-item op-base-tooltip" href="#" data-action="COCIRS">Cassini CIRS</a>
                                        <a class="op-submenu-item dropdown-item op-base-tooltip" href="#" data-action="COUVIS">Cassini UVIS</a>
                                        <a class="op-submenu-item dropdown-item op-base-tooltip" href="#" data-action="COVIMS">Cassini VIMS</a>
                                    </div>
                                </div>
                                <a class="dropdown-item op-help-item op-base-tooltip" data-action="announcements" href="#" title="View recent announcements about changes to OPUS">Recent Announcements</a>
                                <a class="dropdown-item op-help-item op-base-tooltip" data-action="volumes" href="#" title="View the list of PDS data volumes available in OPUS">Data Volumes</a>
                                <a class="dropdown-item op-help-item op-base-tooltip" data-action="apiguide" href="#" title="View a description of the OPUS API for external developers">API Guide</a>
                                <a class="dropdown-item op-help-item op-base-tooltip" data-action="splash" href="#" title="View the OPUS new-user splash screen">Welcome Message</a>
                                <a class="dropdown-item op-help-item op-base-tooltip" data-action="citing" href="#" title="How to cite OPUS in your papers or presentations">Citing OPUS</a>
                                <a class="dropdown-item op-help-item op-base-tooltip" data-action="contact" href="#" title="Send questions or feedback to the OPUS developers">Contact Us</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        <div class="tab-content border-0 container-fluid tab-full-width">
            <div id="search" class="tab-pane op-no-select" role="tabpanel" aria-labelledby="search-tab">
                <div class="row flex-nowrap">
                    <div class="col pe-0 sidebar-area border-end">
                        <div id="sidebar-container" class="sidebar_wrapper ps-scrollbar">
                            <div id="sidebar">
                                {% include "ui/menu.html" %}
                            </div>
                        </div>
                        <hr class="op-shadow-divider my-0 ms-0 me-3">
                        <div class="op-reset-button">
                            <button type="button" class="btn btn-sm btn-secondary op-reset-search op-base-tooltip" data-bs-toggle="modal" data-bs-target="#op-reset-search-modal" title="Reset all search params" disabled>Reset Search</button>
                            <button type="button" class="btn btn-sm btn-secondary op-reset-search-metadata" data-bs-toggle="modal" data-bs-target="#op-reset-search-metadata-modal" title="Reset all search params and metadata" disabled>Reset Search and Metadata</button>
                        </div>
                    </div>

                    <!-- selected widgets -->
                    <div class="col op-widget-col">
                        <div id="widget-container" class="op-widget-column">
                            <ul id="op-search-widgets"></ul>
                        </div>
                    </div>
                </div>
            </div><!-- /search -->

            <div id="browse" class="tab-pane op-no-select" role="tabpanel" aria-labelledby="browse-tab">
                <div class="panel">
                    <nav class="panel-heading navbar navbar-expand-lg navbar-dark bg-dark">
                        <div class="browse-nav-container">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a href="#" class="op-browse-view nav-link op-browse-view-tooltip" data-view="data"><i class="far fa-list-alt"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="op-metadata-modal nav-link op-base-tooltip" data-bs-toggle="modal" data-bs-target="#op-select-metadata" title="Select metadata to display or include in CSV files for each observation"><i class="fas fa-columns"></i>&nbsp;Select Metadata</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="op-download-csv nav-link op-base-tooltip" download title="Download CSV of selected metadata for ALL observations in current results"><i class="fas fa-download"></i>&nbsp;Download CSV (all results)</a>
                                </li>
                            </ul>
                            <ul class="op-slider-nav">
                                <li class="nav-item">
                                    <span class="op-observation-text me-2">Observation #</span>
                                    <div class="op-observation-slider">
                                        <div class="ui-slider-handle op-slider-pointer" data-bs-target="#browse"><div class="op-observation-number"></div></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="op-sort-order-container">
                            <span class="op-sort-order-icon op-browse-sort-tooltip">
                                <i class="fas fa-random"></i>&nbspSort by&nbsp
                            </span>
                            <div class="op-sort-contents"></div>
                        </div>
                    </nav>
                    <div class="panel-body op-gallery-contents container-fluid">
                        <div class="op-results-message">
                            <h2>Your search produced no results</h2>
                            <p>Remove or edit one or more of the search criteria selected on the Search tab
                            or click on the Reset Search button to reset the search criteria to default.</p>
                        </div>
                        <div class="justify-content-start op-gallery-view mx-0">
                            <div class="me-0 gallery gallery-scroll">
                            </div>
                            <div class="op-gallery-view-docked panel">CONTENTS</div>
                        </div>
                        <div class="op-data-table-view mx-0">
                            <div class="col-lg p-0">
                                <table class="table table-hover table-bordered table-striped table-dark table-sm op-data-table mb-0">
                                    <thead></thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <!--start of range select OPUS ID located at bottom of browse -->
                        <div class="op-range-select-info-box bg-secondary border border-success rounded-top px-2"></div>

                        <!-- we moved the spinner to the same level as .op-gallery-view and .op-data-table-view so that it can be shared for both infiniteScroll instances  -->
                        <div class="op-page-load-status">
                            <div class="infinite-scroll-request">
                                <div class='loader'></div>
                            </div>
                            <p class="infinite-scroll-last">End of content</p>
                            <p class="infinite-scroll-error">No more pages to load</p>
                        </div>
                    </div>
                    <div class="op-edit-field-tool dropdown-menu border-top-0 border-dark mt-0" data-bs-toggle="dropdown" aria-labelledby="op-edit-field-tool" aria-haspopup="true" aria-expanded="false">
                        <div class="d-flex justify-content-between">
                            <a href="#" class="op-metadata-detail-add op-base-tooltip" data-bs-toggle="dropdown" data-action="addBefore" title="Add a metadata field before this column"><i class="fas fa-plus ps-1"></i></a>
                            <a href="#" class="op-metadata-detail-remove op-base-tooltip" data-bs-toggle="dropdown" data-action="remove" title="Remove this metadata field"><i class="far fa-trash-alt"></i></a>
                            <a href="#" class="op-metadata-detail-add op-base-tooltip" data-bs-toggle="dropdown" data-action="addAfter" title="Add a metadata field after this column"><i class="fas fa-plus pe-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="cart" class="tab-pane op-no-select" role="tabpanel" aria-labelledby="cart-tab">
                <div class="row">
                    <div class="col op-cart-details pe-0">
                        <div id="op-download-options-container" class="sidebar_wrapper mt-0 pe-0"></div>
                    </div>
                    <div class="col ps-0 op-cart-gallery-side">
                        <nav class="panel-heading navbar navbar-expand-lg navbar-dark bg-dark">
                            <div class="browse-nav-container">
                                <div class="op-cart-nav-container">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item flex-sm-row">
                                            <a href="#" class="op-browse-view nav-link op-base-tooltip" data-bs-toggle="modal" data-bs-target="#op-cart-view" data-view="data" title="View sortable metadata table"><i class="far fa-list-alt"></i>&nbsp;View Table</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="op-metadata-modal nav-link op-base-tooltip" data-bs-toggle="modal" data-bs-target="#op-select-metadata" title="Select metadata to display or include in CSV files for each observation"><i class="fas fa-columns"></i>&nbsp;Select Metadata</a>
                                        </li>
                                    </ul>
                                    <ul class="op-slider-nav">
                                        <li class="nav-item">
                                            <span class="op-observation-text me-2">Observation #</span>
                                            <div class="op-observation-slider">
                                                <div class="ui-slider-handle op-slider-pointer" data-bs-target="#cart"><div class="op-observation-number"></div></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="op-sort-order-container">
                                <span class="op-sort-order-icon op-base-tooltip" title="Results are sorted by these metadata fields<br>Click to reset sort fields to default">
                                    <i class="fas fa-random"></i>&nbspSort by&nbsp
                                </span>
                                <div class="op-sort-contents"></div>
                            </div>
                            <div class="op-cart-actions-group">
                                <div class="op-cart-actions">
                                    <li class="list-inline-item">
                                        <a href="#" class="text-info me-3 op-base-tooltip" data-bs-toggle="modal" data-bs-target="#op-empty-cart-modal" title="Remove all observations from the cart"><i class="fas fa-trash-alt"></i>
                                            &nbsp;Empty Cart</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="text-info me-3 op-base-tooltip" data-bs-toggle="modal" data-bs-target="#op-empty-recycle-bin-modal" title="Remove all observations from the recycle bin"><i class="fas fa-recycle"></i>
                                            &nbsp;Empty Recycle Bin</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="text-info op-base-tooltip" data-bs-toggle="modal" data-bs-target="#op-restore-recycle-bin-modal" title="Restore all observations from the recycle bin to the cart"><i class="fas fa-undo"></i>
                                            &nbsp;Restore Recycle Bin to Cart&nbsp;<span id="op-recycled-count" class="badge bg-primary">0</span></a>
                                    </li>
                                </div>
                                <div class="op-cart-toggle-download-panel">
                                    <button type="button" class="op-cart-slide-download-panel op-base-tooltip btn btn-secondary btn-sm nav-link text-dark fw-bold p-1" title="Slide over download data panel">
                                       <i class="fas fa-arrow-left"></i>
                                       <span>&nbsp;Download Data</span>
                                   </button>
                                </div>
                            </div>
                        </nav>
                        <div class="panel-body op-gallery-contents flex-container">
                            <div class="op-results-message">
                                <h2>Your cart is empty</h2>
                                <p>To add observations to the cart, click on the Browse Results tab
                                at the top of the page, mouse over the thumbnail gallery images to reveal the tools,
                                then click on the cart icon.  </p>
                            </div>
                            <div class="justify-content-start op-gallery-view me-0 ms-1">
                                <div class="me-0 gallery gallery-scroll">
                                </div>
                            </div>
                            <div class="op-data-table-view mx-0">
                                <div class="col-lg p-0">
                                    <table class="table table-hover table-bordered table-striped table-dark table-sm op-no-select op-data-table mb-0">
                                        <thead></thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <!--start of range select OPUS ID located at bottom of cart -->
                            <div class="op-range-select-info-box bg-secondary border border-success rounded-top px-2"></div>

                            <!-- we moved the spinner to the same level as .op-gallery-view and .op-data-table-view so that it can be shared for both infiniteScroll instances  -->
                            <div class="op-page-load-status">
                                <div class="infinite-scroll-request">
                                    <div class='loader'></div>
                                </div>
                                <p class="infinite-scroll-last">End of content</p>
                                <p class="infinite-scroll-error">No more pages to load</p>
                            </div>
                        </div>
                        <div class="op-edit-field-tool dropdown-menu border-top-0 border-dark mt-0" data-bs-toggle="dropdown" aria-labelledby="op-edit-field-tool" aria-haspopup="true" aria-expanded="false">
                            <div class="d-flex justify-content-between">
                                <a href="#" class="op-metadata-detail-add op-base-tooltip" data-bs-toggle="dropdown" data-action="addBefore" title="Add a metadata field before this column"><i class="fas fa-plus ps-1"></i></a>
                                <a href="#" class="op-metadata-detail-remove op-base-tooltip" data-bs-toggle="dropdown" data-action="remove" title="Remove this metadata field"><i class="far fa-trash-alt"></i></a>
                                <a href="#" class="op-metadata-detail-add op-base-tooltip" data-bs-toggle="dropdown" data-action="addAfter" title="Add a metadata field after this column"><i class="fas fa-plus pe-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="op-cart-download-panel" class="card">
                    <div class="card-header align-items-center h-auto bg-secondary">
                        <h3 class="op-header-text"></h3>
                        <a class="close" aria-label="Close"><i class="far fa-times-circle fa-lg"></i></a>
                     </div>
                    <div class="card-body bg-white pe-0">
                        <div class="op-card-contents">
                            Loading... please wait.
                        </div>
                    </div>
                </div>
            </div>

            <div id="detail" class="tab-pane" role="tabpanel" aria-labelledby="detail-tab">
                <div class="panel">
                <!-- /detail    -->
                </div>
            </div>
            <div class="op-page-loading-status">
                <div class="loader"></div>
            </div>
        </div><!-- /tabcontent -->


        <!-- dropdown menu for observations -->
        <div id="op-obs-menu" class="dropdown-menu" data-bs-toggle="dropdown" aria-labelledby="op-obs-menu" aria-haspopup="true" aria-expanded="false">
            <h2 class="dropdown-header"></h2>
            <a class="dropdown-item" data-bs-toggle="dropdown" data-action="cart" href="#"><i class="fas fa-shopping-cart"></i>Add to cart</a>
            <a class="dropdown-item" data-bs-toggle="dropdown" data-action="range" href="#"><i class="fas fa-step-backward"></i>Range selection</a>
            <a class="dropdown-item" data-bs-toggle="dropdown" data-action="addall" href="#"><i class="fas fas fa-cart-plus"></i>Add all results to cart</a>
            <a class="dropdown-item" data-bs-toggle="dropdown" data-action="info" href="#"><i class="fas fa-info-circle"></i>Show detail</a>
            <a class="dropdown-item" data-bs-toggle="dropdown" data-action="downloadCSV" href="#" download><i class="fas fa-file-csv"></i>Download CSV of selected metadata&nbsp;</a>
            <a class="dropdown-item" data-bs-toggle="dropdown" data-action="downloadCSVAll" href="#" download><i class="fas fa-file-csv"></i>Download CSV of all metadata&nbsp;</a>
            <a class="dropdown-item" data-bs-toggle="dropdown" data-action="downloadData" href="#" download><i class="fas fa-download"></i>Download zipped data archive&nbsp;</a>
            <a class="dropdown-item" data-bs-toggle="dropdown" data-action="downloadURL" href="#" download><i class="fas fa-download"></i>Download zipped URL archive&nbsp;</a>
        </div>

        <!-- dropdown menu for adding metadata fields -->
        <div id="op-add-metadata-fields" class="op-no-select dropdown-menu" data-direction="after" aria-labelledby="op-metadata-detail-add" aria-haspopup="true" aria-expanded="false">
            <h2 class="dropdown-header">Add Metadata Field</h2>
            <div class="op-select-list"></div>
        </div>

        <!-- dropdown menu for sort metadata columns -->
        <div id="op-add-sort-metadata" class="op-no-select dropdown-menu" data-bs-toggle="dropdown" aria-labelledby="op-add-sort-metadata" aria-haspopup="true" aria-expanded="false">
            <h2 class="dropdown-header">Add Metadata Field to Sort</h2>
            <div class="op-sort-list"></div>
        </div>

        <!--sliding panel for the help menu items -->
        <div id="op-help-panel" class="card w-75">
            <div class="card-header align-items-center h-auto bg-secondary">
                <h3 class='op-header-text'></h3>
                <a class="btn-close" aria-label="Close"><i class="far fa-times-circle fa-lg"></i></a>
            </div>
            <div class="card-body bg-light">
                <div class="op-card-contents">
                    Loading... please wait.
                </div>
                <div class='loader'></div>
            </div>
        </div>

        <!-- modal dialog for the gallery views -->
        <div id="op-metadata-detail-view" class="modal fade" role="dialog" tabbindex="-1" data-bs-backdrop="false" data-keyboard="false" aria-labelledby="op-metadata-detail-viewLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div id="op-metadata-detail-view-content" class="modal-content">
                    <div class="op-docking-tools op-no-select">
                        <a href="#" class="op-slide-minimize op-base-tooltip" aria-label="Minimize" title="Minimize the slide"><i class="fas fa-compress-arrows-alt fa-lg"></i></a>
                        <a href="#" class="op-slide-maximize op-base-tooltip" aria-label="Maximize" title="Restore the slide to the default size"><i class="fas fa-expand-arrows-alt fa-lg"></i></a>
                        <!--a href="#" class="op-slide-dock" aria-label="Dock" title="Pin the slide to the right of the Browse view"><i class="fas fa-sign-in-alt fa-lg text-info"></i></a-->
                    </div>
                    <button type="button" class="op-base-tooltip btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close the slide">
                        <i class="far fa-times-circle fa-lg"></i>
                    </button>
                    <div class="op-metadata-detail-view-body modal-body bg-dark">
                        <div class="row flex-nowrap">
                            <div class="left col-lg-7 col d-flex align-items-center justify-content-center mw-100 op-no-select"></div>
                            <div class="right col-lg-5 col mw-100">
                                <div class="op-metadata-details-container">
                                    <div class="op-metadata-detail-edit op-no-select">
                                        <a href="#" class="op-edit-metadata-button" action="edit">
                                            <i class="fas fa-pencil-alt"></i> Edit
                                        </a>
                                        <div class="op-metadata-detail-edit-message text-secondary">Drag to reorder</div>
                                    </div>
                                    <div class="op-metadata-details">
                                        <div class="contents me-2"></div>
                                    </div>
                                </div>
                                <div class="row bottom"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--modal dialog for the metadata selector -->
        <div id="op-select-metadata" class="modal fade" role="dialog" tabbindex="-1" data-bs-backdrop="false" aria-labelledby="op-select-metadataLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content op-no-select">
                    <div class="modal-header bg-dark text-light fw-bold fs-6 py-3">
                        <div>Select Metadata</div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="op-close-metadata-modal"  aria-label="Close">
                            <i class="far fa-times-circle fa-lg"></i>
                        </button>
                    </div>
                    <div id="op-select-metadata-contents" class="modal-body"></div>
                    <div class="modal-footer">
                        <div class="left-container">
                            <button type="reset" class="btn btn-info">Reset to Default</button>
                        </div>
                        <div class="right-container">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Changes</button>
                            <button type="cancel" class="btn btn-danger">Discard Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "ui/confirm_modal.html" with
            id_name="op-reset-search-modal"
            confirm_title="Confirm Reset Search"
            confirm_msg="This will delete any search constraints you have selected and reset the set of search fields back to the default. The selected metadata fields and the contents of your cart will not be affected. Are you sure you want to reset your search?"
            target="op-reset-search-modal"
            yes_text="Yes"
            no_text="No"
            allow_close=True
            draggable=True
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-reset-search-metadata-modal"
            confirm_title="Confirm Reset Search and Metadata"
            confirm_msg="This will delete any search constraints you have selected and reset the set of search fields and selected metadata back to the default. The contents of your cart will not be affected. Are you sure you want to reset your search and metadata?"
            target="op-reset-search-metadata-modal"
            yes_text="Yes"
            no_text="No"
            allow_close=True
            draggable=True
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-reset-opus-modal"
            confirm_title="Confirm Reset OPUS"
            confirm_msg="Are you sure you want to reset OPUS to its default state? This will erase any search parameters, open search fields, selected metadata, and other customization you may have done, but will leave items in your cart."
            target="op-reset-opus-modal"
            yes_text="Yes"
            no_text="No"
            allow_close=True
            draggable=True
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-overwrite-sort-order"
            confirm_title="Confirm Overwrite of Metadata Fields Sort Order"
            confirm_msg="Select \"Overwrite\" to update your metadata fields sort order to the selected metadata field + OPUS ID or \"Append\" to append to your current sort criteria."
            target="op-overwrite-sort-order"
            yes_text="Overwrite"
            no_text="Append"
            allow_close=True
            draggable=True
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-reset-sort-order"
            confirm_title="Confirm Reset of Metadata Fields Sort Order"
            confirm_msg="Are you sure you want to reset the sort order to its default?"
            target="op-reset-sort-order"
            yes_text="Yes"
            no_text="No"
            allow_close=True
            draggable=True
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-addall-to-cart-modal"
            confirm_title="Confirm Add All Observations To Cart"
            confirm_msg="Are you sure you want to add all observations to the cart?"
            target="op-addall-to-cart-modal"
            yes_text="Yes"
            no_text="No"
            allow_close=True
            draggable=True
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-addall-warning-msg-modal"
            confirm_title="Failed to Add All Observations"
            confirm_msg=""
            target="op-addall-warning-msg-modal"
            yes_text="OK"
            allow_close=True
            draggable=True
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-close-metadata-modal"
            confirm_title="Confirm Save Changes to Selected Metadata"
            confirm_msg="You have made changes to the selected metadata. Do you wish to keep these changes?"
            target="op-close-metadata-modal"
            yes_text="Yes"
            no_text="No"
            allow_close=True
            draggable=True
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-empty-cart-modal"
            confirm_title="Confirm Remove All Observations From Cart"
            confirm_msg="Are you sure you want to remove all observations from the cart?"
            target="op-empty-cart-modal"
            yes_text="Yes"
            no_text="No"
            allow_close=True
            draggable=True
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-empty-recycle-bin-modal"
            confirm_title="Confirm Empty Recycle Bin"
            confirm_msg="Are you sure you want to remove all observations from the recycle bin?"
            target="op-empty-recycle-bin-modal"
            yes_text="Yes"
            no_text="No"
            allow_close=True
            draggable=True
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-restore-recycle-bin-modal"
            confirm_title="Confirm Restore All Recycled Observations To Cart"
            confirm_msg="Are you sure you want to restore all observations from the recycle bin to the cart?"
            target="op-restore-recycle-bin-modal"
            yes_text="Yes"
            no_text="No"
            allow_close=True
            draggable=True
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-cart-status-error-msg-modal"
            confirm_title="Failed to Add Observations to Cart"
            confirm_msg=""
            target="op-cart-status-error-msg-modal"
            yes_text="OK"
            allow_close=True
            draggable=True
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-update-url-modal"
            confirm_title="Message About Your URL"
            confirm_msg=""
            target="op-update-url-modal"
            yes_text="Keep Message"
            no_text="Discard Message"
            allow_close=True
            draggable=True
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-browser-version-msg-modal"
            confirm_title="Message About Your Browser Version"
            confirm_msg="Please consider upgrading your Browser Version"
            target="op-browser-version-msg-modal"
            yes_text="OK"
            allow_close=True
            draggable=False
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-browser-size-msg-modal"
            confirm_title="Message About Your Browser Size"
            confirm_msg=""
            target="op-browser-size-msg-modal"
            allow_close=False
            draggable=False
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-new-user-msg-modal"
            confirm_title="Welcome to OPUS3"
            confirm_msg="Please see the FAQ section from help menu or <a href='https://ringsnodesearchtool.blogspot.com/' target='_blank'>our blog</a> for details."
            target="op-new-user-msg-modal"
            yes_text="OK"
            allow_close=True
            draggable=False
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-notification-modal"
            confirm_title="Important Message"
            confirm_msg=""
            target="op-notification-modal"
            yes_text="Do not show again"
            no_text="Close"
            allow_close=True
            draggable=False
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-download-links-error-msg-modal"
            confirm_title="Download Error"
            confirm_msg=""
            target="op-download-links-error-msg-modal"
            yes_text="OK"
            allow_close=True
            draggable=False
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-close-widgets-modal"
            confirm_title="Confirm Close Search Field"
            confirm_msg="You are trying to remove a search field that has constraints. Removing the search field will remove the constraints.  Are you sure you wish to proceed?"
            target="op-close-widgets-modal"
            yes_text="Yes"
            no_text="No"
            allow_close=True
            draggable=True
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-close-surfacegeo-widgets-modal"
            confirm_title="Confirm Close All Surface Geometry Search Fields"
            confirm_msg="Closing the Surface Geometry Target Selector search field will also close all target-specific search fields. Are you sure you wish to proceed?"
            target="op-close-surfacegeo-widgets-modal"
            yes_text="Yes"
            no_text="No"
            allow_close=True
            draggable=True
            close_by_keyboard="esc"
        %}
        {% include "ui/confirm_modal.html" with
            id_name="op-http-response-error-modal"
            confirm_title="Server Error"
            confirm_msg=""
            target="op-http-response-error-modal"
            yes_text="Reload OPUS"
            allow_close=False
            draggable=True
        %}

        {% endblock %}

    </div><!--/.container-fluid-->
    <div class="op-overlay"></div>

    {% include "ui/footer.html" %}
    <div id="op-qtype-tooltip">
        <p><strong>Any</strong> = The observation contains at least a portion of the region bounded by the given min and max.</p>

        <p><strong>All</strong> = The observation contains the entire requested range from min to max.</p>

        <p><strong>Only</strong> = Everything within the observation is in the requested range.</p>
    </div>
    <!-- put download links in a popover -->
    <div id="op-download-links">
        <div class="op-download-links-contents">
            <ul class="op-zipped-files">
                <li class="spinner">&nbsp;</li>
            </ul>
        </div>
    </div>

    <!-- basic scripts - always include right before /body tag, do not use jquery slim. -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}cdn_fallback/jquery/js/jquery-3.6.0.min.js"><\/script>')</script>

    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script>window.jQuery.ui || document.write('<script src="{{ STATIC_URL }}cdn_fallback/jquery/js/jquery-ui-1.13.1.min.js"><\/script>')</script>

    <!-- There's no way to know if touchpunch was loaded so we can't use a CDN and provide a fallback - just serve locally -->
    <script src="{{ STATIC_URL }}cdn_fallback/touchpunch/js/jquery.ui.touch-punch.0.2.3.min.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
    <!-- bootstrap cdn fallback -->
    <script>
        if (!window.bootstrap) {
            document.write('<script src="{{ STATIC_URL }}cdn_fallback/bootstrap/js/bootstrap.bundle-5.2.0.min.js"><\/script>');
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>
    <script>window.jQuery.cookie || document.write('<script src="{{ STATIC_URL }}cdn_fallback/jquery/js/jquery.cookie-1.4.1.min.js"><\/script>')</script>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script>(window._ && window._.get) || document.write('<script src="{{ STATIC_URL }}cdn_fallback/lodash/js/lodash-4.17.21.min.js"><\/script>')</script>

    <script src="https://unpkg.com/infinite-scroll@3.0.5/dist/infinite-scroll.pkgd.js"></script>
    <script>window.InfiniteScroll || document.write('<script src="{{ STATIC_URL }}cdn_fallback/infinite_scroll/js/infinite-scroll-3.0.5.pkgd.min.js"><\/script>')</script>

    <script src="{{ STATIC_URL }}perfect-scrollbar/dist/perfect-scrollbar.js"></script>

    <!-- NASA feedback widget -->
    <script src="{{ STATIC_URL }}feedback/js/modernizr-custom.js{{ VERSION_SUFFIX }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}feedback/js/config.js{{ VERSION_SUFFIX }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}feedback/js/feedback.js{{ VERSION_SUFFIX }}" type="text/javascript"></script>

    <!-- Tooltipster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/4.2.8/js/tooltipster.bundle.min.js" integrity="sha512-ZKNW/Nk1v5trnyKMNuZ6kjL5aCM0kUATbpnWJLPSHFk/5FxnvF9XmpmjGbag6BEgmXiz7rL6o6uJF6InthyTSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}cdn_fallback/tooltipster/dist/js/tooltipster.bundle-4.2.8.min.js"><\/script>')</script>

    {% block scripts %}

    <script src="{{ STATIC_URL }}js/opus.js{{ VERSION_SUFFIX }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/menu.js{{ VERSION_SUFFIX }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/utils.js{{ VERSION_SUFFIX }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/cart.js{{ VERSION_SUFFIX }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/browse.js{{ VERSION_SUFFIX }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/detail.js{{ VERSION_SUFFIX }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/search.js{{ VERSION_SUFFIX }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/widgets.js{{ VERSION_SUFFIX }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/selectMetadata.js{{ VERSION_SUFFIX }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/sortMetadata.js{{ VERSION_SUFFIX }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/hash.js{{ VERSION_SUFFIX }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/dictionary.js{{ VERSION_SUFFIX }}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/mutationObserver.js{{ VERSION_SUFFIX }}" type="text/javascript"></script>
    {% endblock    %}

</body>
</html>
