<!-- generic confirmation Modal -->
<div class="modal op-confirm-modal fade" id={{id_name}} tabindex="-1" data-bs-action="{{close_by_keyboard}}" data-bs-backdrop="static" data-bs-keyboard="false" draggable="{{draggable}}" role="dialog" aria-labelledby="confirm-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="op-confirm-modal" class="modal-content border-light">
            <div class="modal-header bg-dark text-light fw-bold fs-6 py-3">
                <div>{{confirm_title}}</div>
                {% if allow_close %}
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="far fa-times-circle fa-lg text-light"></i>
                    </button>
                {% endif %}
            </div>
            <div class="modal-body">
                {{confirm_msg}}
            </div>
            {% if yes_text or no_text %}
                <div class="modal-footer">
                    {% if yes_text %}
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" data-bs-target={{target}}>{{yes_text}}</button>
                    {% endif %}
                    {% if no_text %}
                        <button type="cancel" class="btn btn-danger" data-bs-target={{target}}>{{no_text}}</button>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
