<head>
    <meta charset="utf-8" />
    <title>OPUS - Data Search for Outer Planets NASA Mission Data - NASA PDS Ring-Moon Systems Node</title>
    <meta name="description" content="OPUS - Outer Planets Data Search Tool - NASA PDS Ring-Moon Systems Node" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico">

    <!-- css fallback function -->
    <script>
        function fallback(el, localCopy, needIntegrity=false ,integrity="") {
            el.onerror = null;
            el.href = `{{ STATIC_URL }}cdn_fallback/${localCopy}`
            if(needIntegrity) {
                el.integrity = integrity;
            }
        }
    </script>

    {% if allow_fallback %}
        <link onerror="fallback(this, 'fontawesome/css/all-5.15.4.min.css', true, '')"
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" media="all">

        <!-- jquery theme -->
        <link onerror="fallback(this, 'jquery/css/jquery-ui-1.13.1.min.css')"
        rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" media="all">

        <!-- bootstrap style sheets -->
        <link onerror="fallback(this, 'bootstrap/css/bootstrap-5.2.2.min.css')"
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css" integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      
        <link onerror="fallback(this, 'bootstrap/css/bootstrap-reboot-5.2.2.min.css')"
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap-reboot.min.css" integrity="sha512-OGIUn1RUUYIrr7oDnv8nV5QHFXj1fGDmT+qpcVvDdxkzsnQYhiikXow06DDNneSYAeLVShIuVCCAsdLv4SPkvg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link onerror="fallback(this, 'bootstrap/css/bootstrap-grid-5.2.2.min.css')"
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap-grid.min.css" integrity="sha512-a+PObWRxNVh4HZR9wijCGj84JgJ/QhZ8dET09REfYz2clUBjKYhGbOmdy9KEHilYKgbMSIHNQEsonv/r75mHXw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- flexslider -->
        <link onerror="fallback(this, 'flexslider/flexslider-2.7.2.css')"
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/flexslider.css" integrity="sha512-HWY8i77pPLL23sU4pHj+5iuZEmmmu2YaiTUcWrBXqBRTpn6yUdDvlFGNmG0qyjDg/vpt+YWNMASjg9M0eOU9DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Tooltipster -->
        <link onerror="fallback(this, 'tooltipster/dist/css/tooltipster.bundle-4.2.8.min.css)"
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/4.2.8/css/tooltipster.bundle.min.css" integrity="sha512-RwhQzi0EhwZ9hHs18SqM7ICqW/MH/B17PouhdCuzaUQYEdx2S4WPgkhLeZPvGr2Kb1FIm4gaIbMJGwZtxDCLQA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% else %}
        <link rel="stylesheet" href="{{ STATIC_URL }}cdn_fallback/fontawesome/css/all-5.15.4.min.css" media="all">

        <!-- jquery theme -->
        <link rel="stylesheet" href="{{ STATIC_URL }}cdn_fallback/jquery/css/jquery-ui-1.13.1.min.css" media="all">

        <!-- bootstrap style sheets -->
        <link rel="stylesheet" href="{{ STATIC_URL }}cdn_fallback/bootstrap/css/bootstrap-5.2.2.min.css" media="all">

        <link rel="stylesheet" href="{{ STATIC_URL }}cdn_fallback/bootstrap/css/bootstrap-reboot-5.2.2.min.css" media="all">

        <link rel="stylesheet" href="{{ STATIC_URL }}cdn_fallback/bootstrap/css/bootstrap-grid-5.2.2.min.css" media="all">

        <!-- flexslider -->
        <link rel="stylesheet" href="{{ STATIC_URL }}cdn_fallback/flexslider/flexslider-2.7.2.css" type="text/css">

        <!-- Tooltipster -->
        <link rel="stylesheet" href="{{ STATIC_URL }}cdn_fallback/tooltipster/dist/css/tooltipster.bundle-4.2.8.min.css" />
    {% endif %}

    <!-- Main styles for this application-->
    <link rel="stylesheet" href="{{ STATIC_URL }}coreui/css/style.css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}perfect-scrollbar/css/perfect-scrollbar.css">

    <!-- opus custom -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/opus.css{{ VERSION_SUFFIX }}" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/loader.css{{ VERSION_SUFFIX }}">

    <!-- NASA feedback widget -->
    <link rel="stylesheet" href="{{ STATIC_URL }}feedback/css/feedback.css{{ VERSION_SUFFIX }}" type="text/css" media="screen">

    <!-- inline styles related to this page -->
    {% block page_styles %} {% endblock %}
    <style>
    {% block inline_styles %} {% endblock %}
    </style>

    <script>
        // note: these are here to use the django templates in the defs.
        const DEFAULT_COLUMNS = '{{ default_columns }}';
        const DEFAULT_WIDGETS = '{{ default_widgets }}';
        const DEFAULT_SORT_ORDER = '{{ default_sort_order }}';
        const STATIC_URL = '{{ STATIC_URL }}';
        const MAX_SELECTIONS_ALLOWED = '{{ max_selections_allowed }}';
        const PREVIEW_GUIDES = {{ preview_guides|safe }}
    </script>
    {% if chat_key %}
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/{{ chat_key }}';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        <!--End of Tawk.to Script-->
    {% endif %}
