{% comment %}
    this is all inside of: <li id="widget__{{ slug }}" class="widget">

    #op-qtype-tooltip div is appended in base.html, and popover is initialized
    in getWidget function in widgets.js
{% endcomment %}
{% load prettify_str %}

<div class="card">
    <header class="card-header">
        <h6 class="card-title mt-0">
            <div>
                <i class="fas fa-info-circle" title="{{tooltip|safe }}"></i>
                {{ label }} {{ units }}
                <span class="spinner">&nbsp;</span>
            </div>
            <span class="float-right border-left border-dark">
                <a href="#card__{{ slug }}" data-toggle="collapse" data-target="#card__{{ slug }}" aria-expanded="true">
                    <i class="icon-action fa fa-chevron-down pull-right"></i>
                </a>
                <a href="#" data-action="close" data-slug="{{slug}}" class="close_card">
                    <i class="icon-action fa fa-times"></i>
                </a>
            </span>
        </h6>
    </header>

    <div class="collapse show" id="card__{{ slug }}" style="">
        <article class="card-body p-1 widget__{{ slug }}
                            {% if form_type in range_form_types %}
                                 range-widget
                            {% endif %}
                            {% if form_type in mult_form_types %}
                                 mult-widget
                            {% endif %}
                        ">
            <div class="widget-main">
                <div id="hint__{{ slug }}" class="range_hints"></div>
                <ul>
                    {% if intro %}
                        <div class="text-info">
                            {{ intro }}

                        </div>
                    {% endif %}

                    {% if ranges %}
                        <div class="dropright">
                            <button type="button" id="dropdownMenu1" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Useful Ranges
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% for range_cat, range_subcat in ranges.items %}
                                    <a id="dropdownMenu2" class="dropdown-item dropdown-toggle dropright" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{range_cat|prettify_str}}</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        {% for range_sub, range_info in range_subcat.items %}
                                            <a id="dropdownMenu3" class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{range_sub|prettify_str}}</a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                                                <a class="dropdown-item" href="#">{{range_info|prettify_str}}</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                        {{ form|safe }}
                </ul>
            </div>
        </article>
    </div><!-- /widget-body -->
</div><!-- /widget-box -->
