{% extends "base.html" %}

{% block content %}

<div class = "container">

	<div class = "col-md-8">
		{% block more_head %}
		<link rel="stylesheet" href="{{ MEDIA_URL }}styles/api_guide.css" type="text/css" media="screen">
		{% endblock %}


		<h1>OPUS API Guide</h1>

		<div>
			<p>
				This guide describes the API that drives <a href = "http://pds-rings-tools.seti.org/opus">OPUS, an outer planets data search tool</a> produced by the <a href = "http://pds-rings.seti.org">NASA PDS Rings Node</a>. Any search that can be performed in OPUS can also be requested as an API call. Below are several examples. Please <a href = "https://pds-rings.seti.org/cgi-bin/comments/form.pl"> send us questions or comments</a>.
			</p>
		</div>

		<div class = "jumpto">
		{% for group in groups %}
		<a href = "#{{ group.name|slugify }}">{{ group.name }}</a> <br>
		{% endfor %}
		</div>

		{% for group in groups %}
			<div class = "section">
			<a name = "{{ group.name|slugify }}"></a>

			<h2>{{ group.name }}</h2>
			<p>{{ group.desc }}</p>

			{% for resource in group.resource_set.all %}

		  		<div class = "intro">
					<h3>{{ resource.name }}</h3>

					<p>{{ resource.desc }}</p>
				</div>

			   <ul class = "keyvals">

					{% for keyval in resource.keyvalue_set.all %}
						 <li><strong>{{keyval.key}}: </strong> {{keyval.value}} </li>

				    {% endfor %}
				</ul>

				<div class = "examples">
					<strong> Example: </strong>

					<ul>
					{% for example in resource.example_set.all %}

		  		  		<li><p id = "example_intro">{{ example.intro }}  </p>

				    	<p><a href = "{{ base_url }}{{ example.link }}" target = "_blank">
							{{ base_url }}{{ example.link }}
						</a></p>

						<p class = "cutpaste">
							<!-- curl -O {{ base_url }}{{ example.link }} -->
							<input type = "text" value = "wget {{ base_url }}{{ example.link }}">
						</p>

						</li>

					{% endfor %}

					</ul>
			   </div>
			</ul>
			{% endfor %}

		<a href = "#">back to top</a>
		</div> <!-- groups -->
		{% endfor %}

	</div>

{% endblock %}
