#gallery {
    padding:0px;  
}  
.header {
    margin:0px;
}
#gallery li {
    float:left;
    list-style-type:none;
    margin:2px;
    padding:0px;
    
             
}  
.gallery_default {
    border:1px solid #484848; 
}    
.gallery_hover {
    border:1px solid white; /* matches #gallery li margin */ 
    margin:1px;
} 
.gallery_visited {
    border:1px solid #B0B0B0;
    margin:1px;
}                     


#gallery img{
    width:74px;
}
   

.portrait {
	/* portrait orientation changes go here! */  
	
}
.landscape {
	/* landscape orientation changes go here! */
}			

#more_gallery {
    text-align:center;
    clear:both;
    display:incline;
}     

.ui-bar-a {
    text-align:center;
}         

.spinner {
    background-image:url('http://rings.beforeamillionuniverses.com/images/m-ajax-loader.gif');
    background-repeat:no-repeat;
    background-position:center; 
}

img.homepage_img {
    width:95%;
    margin:20px 10px;
} 
