body {
  overflow:hidden;
}
.app-body {
  margin-top: 3.8em !important;
}

.container-fluid {
  padding: 0;
  margin-bottom: -12px;
}

.addScroll{
  overflow-y:auto;
  height: 200px;
}

.dictionary {
    display:none;
}
.ui-tooltip {
    max-width:40em;
    padding:10px;
    margin:0 30px;
    font-size:130%;
    z-index:9999;
}

.tab-full-width {
  margin: 0 auto;
  width: 100%;
}

.navbar-nav .nav-item.active:hover {
    background: white !important;
}
.navbar-nav .nav-item.active a:hover {
    color: #383838 !important;
}

.navbar-header {
    position:fixed;
    left:20px;
    top:0;
    width:10em;
}

.tab-content {
    border: 1px solid black;
    padding: 0;
}

.nav-tabs {
    margin-bottom: 0;
}

.navbar-brand {
  width: 3em !important;
}

#opusTab img.newGIF {
    display: none;
}

#search {
    height:100%;
    position:absolute;
    left:0;
    margin:0;

}
#search .add_input {
    display:none;
}

#search .search-param {
  font-size: 90%;
}

#browse, #collection, #detail {
    padding:0; margin:0;
    display:none;
}
#browse {
    background-color: #303030; /* #383838; */
}
#browse .data {
    background-color: white;
}

#browse .gallery {
    margin:0; padding:0;
    margin-top:.25em;
    background-color: #303030; /* #383838; */
    padding-left:1.5em;
    min-height:700px;
}

.gallery-contents {
    overflow-y:hidden;
    overflow-x:hidden;
}

/* Make sure y-axis rail is not moving and always visible */
.gallery-contents .ps__rail-y {
    background-color: transparent !important;
    /* navbar height: 95px, this will match the scrollbar and gallery/table view */
    top: 95px !important;
}

#detail {
    padding:20px 50px;
}

#detail h1 {
    white-space: nowrap;
}

#nav-sidebar {
  margin: 0;
  padding: 0;
  width: 400em;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

#sidebar {
  min-width: 24rem;
  max-width: 26rem;
  height: 100%;
}

#sidebar ul.nav-lst {
    margin-left:0px;
}
#sidebar .nav-list .fa-info-circle {
    font-size:1.1em;
    color:#C0C0C0;
}
#sidebar .submenu {  /* labels in 3rd submenu need schootch over a bit */
    margin-left:15px;
}
#sidebar .sidenav_spacer {
    display:block; height:500px;
}

#sidebar .menu_help {
    margin:0;
    padding: .1em .2em;
    padding-left: 1em;
}

.sidebar_wrapper {
  display: flex;
    margin:0; padding:0;
    overflow: auto;
    margin-top:5px;
    position: relative;
    height:500px; /* matches .widget_column */
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.sidebar_wrapper.mCustomScrollbar {
    margin-top:10px;
}

ul.searchMenu{
    padding-right: 2em;
}

.card-header .icon-action {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .icon-action {
    -ms-transform: rotate(90deg); /* IE 9 */
    -ms-transform-origin: 80%; /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    -webkit-transform-origin: 80%; /* Safari 3-8 */
  transform-origin: 80%;
  transform: rotate(90deg);
}

.thumbnail-container {
    display: inline-block;
    float: left;
    position: relative;
    padding: .10em;
    min-width:100px;
    min-height:100px;
}

.thumbnail-container .img-thumbnail {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.thumbnail-container:hover .thumb-overlay {
  height: 30%;
}

.thumb-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.92;
  filter: alpha(opacity=92);
  background: rgba(76, 75, 80, 0.3);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.thumb-overlay a:hover {
  color:#097da5;
  /*font-size:130%;*/
}

#browse .in {
  -webkit-box-shadow:inset 0px 0px 0px 10px #097da5;
  -moz-box-shadow:inset 0px 0px 0px 10px #097da5;
  box-shadow:inset 0px 0px 0px 10px #097da5
}

#collection .in {
}

#collection .remove {
  display: none;
}

#collection .removed {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#collection .fa-times {
  color: #eee;
  opacity: 0.15;
}

.modal {
    top: 4%;
}
.modal-content {
  border-radius: 1%;
}
.modal-footer .left-container {
  width: 74%;
}

.thumbnail-container .modal-overlay {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
  z-index: -1;
}
.thumbnail-container .modal-show {
  z-index: 999;
  -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
/*  -webkit-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;*/
  opacity: 1;
}

tr.modal-show {
  color: #167495;
  opacity: 0.92;
  filter: alpha(opacity=92);
}

.thumbnail-container .content-text {
  margin: 0px;
  opacity: 0.65;
}

.thumbnail-message {
  color: #fff;
  padding-left: 3em;
  width: 500px;
}

.img-thumbnail {
    background-color: transparent !important;
    border: 0px solid #000000 !important;
}

.tools {
    text-align: center;
}

.tools > a {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.tools a:nth-child(1n) {
    position:relative;
    left:0;
}

.tools a:nth-child(2n) {
   margin-right:0.8em;
   margin-left:0.8em;
}

.tools a:nth-child(3n) {
    position:relative;
    right:0;
}

th.sticky-header {
    /*  avoid seeing through at the top of header */
    border-top: 0px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: black;
}

#dataTable  {
    padding:0;
}

#dataTable th {
    vertical-align: middle;
    /* Fix the hidden th left/right border in firebox */
    background-clip: padding-box;
    text-align: center;
}

#dataTable th a {
    display:block;
    text-align: center;
    text-decoration: none;
}

#dataTable .column_ordering {
    margin:0 10px;
    /* display: inline-flex; */
    /* float: right; */
}

#dataTable td {
  white-space: nowrap;
}

#dataTable th > div {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    position: relative;
    /* white-space: nowrap; */
    /* height: 100%; */
}

/* vertically center the resizable handle */
#dataTable th > div div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.dataTable .ps__rail-y {
    background-color: transparent !important;
    right: 1px !important;
}

/* Make sure x-scrollbar in dataTable is always at the left and visible */
.dataTable .ps__rail-x {
    background-color: transparent !important;
    left: 0px !important;
    opacity: 1 !important;
    bottom: 25px !important;
}

/* Fix the spinner*/
.table-page-load-status .loader {
    display: none;
    top: 250px;
}

.fadey {
    color:#b0b0b0;
}

.detailViewLink {
    margin-top:70px;
    font-size:130%;
    padding:5px 0px;
    color: #3399ff;
}

#product_types {
  display: inline-grid;
}

#metadataSelector i.fa-check {
    display:none;
}

#metadataSelector ul li {
    text-decoration:none;
}
.allMetadata, .selectedMetadata   {
    height: 450px;
    overflow:scroll;
  overflow-x: auto;
}
.allMetadata ul li {
    padding-bottom:3px;

}
.allMetadata .cat_label {
    margin-top:15px;
    margin-bottom:-5px;
}

.selectedMetadata ul {
  padding-inline-start: 0.5em;
  padding-inline-end: 1em;
}
.selectedMetadata ul li:hover{
  cursor:grab;
}
.selectedMetadata ul li .unselect:hover{
   cursor:default;
 }
 .selectedMetadata ul li .info:hover{
    cursor:default;
 }
.selectedMetadata .unselect {
    float:right;
}

.selectedMetadata {
    border:0;
    z-index:9999;
}
.selectedMetadata ul li {
    padding:5px 15px;
    border:1px dotted gray;
    list-style-type:none;
 }

.hints {
    color:green;
    margin: 0 2px 0 5px;
}
.range_hints {
    display:block;
    clear:both;
    padding: 5px 0 10px 50px;
    color: green;
}
.range_hints span {
    margin-right: 5px;
}

.paging_indicator {
    color:#A8A8A8;
    padding:0 10px;
}

.end_of_page {
    /*display:absolute;*/
    bottom:0;
    left:0;
    width:100%;
    height:10px;
    display: none;
}

img.preview {
  max-width: 400px    !important;
  max-width: 400px    !important;
}

@media (min-width: 1200px) {
  .modal-lg {
    max-width: 1100px  !important;
    max-height: 1100px  !important;
  }
  img.preview {
    max-width: 600px    !important;
    max-width: 600px    !important;
  }
}

#galleryView {
    pointer-events: none;
    z-index: 999;
}

#galleryView button.close, #metadataSelector button.close {
  position: absolute;
    float: right;
    top: .8em;
    right: 1em;
  z-index: 999;
}

#galleryView .fa-cart-plus {
  float: left;
}

#galleryView .bottom {
  position: fixed;
  right: 2.5em;
  bottom: 1.5em;
  width: 40%;
  z-index: 1030;
}

#galleryView .prev > i {
  margin-right: .4em;
}

#galleryViewContents {
  position: relative;
  height: 625px;
}

#galleryViewContents .preview {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}

#galleryViewContents .metadata {
  overflow-y: auto;
  max-height: 500px;
  width: 440px;
  position: fixed;
}

#galleryViewContents .detail {
  position: fixed;
  bottom: 3.7em;
}

#galleryViewContents .ps__rail-y {
  background-color: transparent !important;
}

#collection .collection-gallery-side {
    /*margin-top:.25em; */
    background-color: #303030; /* #383838; */
}

#collection .thumb-page {
	padding: 0 1.0em;
}

#collections-sidebar {
  padding-left: 3em;
  padding-right: 3em;
}

#collection .col {
  overflow-x: hidden;
  overflow-y: hidden;
}

#collection .gallery-contents .ps__rail-y {
    top: 40px !important;
    /* we need this to make ps visible */
    right: 15px !important;
}

.hide_ps__rail-y {
    display: none !important;
}

#collections-sidebar .zippedFiles li {
    margin:0; padding:0;
    list-style-type:none;
    margin:10px 0px 15px -20px;
}

.collection_details {
  border-left: .3em double black;
    padding-left: 2em;
    min-width: 28em;
  max-width: 28em;
}

#download_links {
	display: none;
}

div.gallery {
    margin:0; padding:0;
    position: relative;
    overflow-x:hidden;
  overflow-y:hidden;
    margin-right:-80px;
}
.browse-nav-container {
    height: 1.5em;
}
.browse-nav-container li {
    display: flex;
    align-items: center;
}

.browse-nav-container li input {
    height:1.6em;
    width:4.2em;
    text-align: center;
 }

.sort-order-container {
	display:inline-flex;
    padding-left: 25px;
}

.sort-order-icon {
    color: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
}

.sort-contents {
	display: flex;
}

.sort-contents li {
    opacity: 0.7;
    margin-bottom: -10px;
}

.flip-sort {
    cursor:row-resize;
}

@media (max-width: 700px) {
    .navbar-header {
        display:none;
    }
     .browse-nav-container li {
        border: 1px solid #383838;
        padding:0;
        text-align:center;
     }
     .browse-nav-container {
        width:100%;
        margin:0;
     }
   .browse-nav-container .order-container {
     display:none;
   }
}

#page-slider .slider {
    width: 150px;
}

.table-page {
    display: none;
}

.panel-body .gallery-contents {
  position:fixed !important;
  overflow-y: auto
}

.page-load-status {
    display: none; /* hidden by default */
    padding-top: 20px;
    border-top: 1px solid #DDD;
  text-align: center;
    /*color: #777;*/
}

/* opus-specific card stuff, used to be widgets */
.card-title {
    margin-top: .15em;
    margin-bottom: .15em;
}

.icon-action {
    margin-top: 5px;
    padding-left: 1em;
    font-size: 80%;
}

a.dropdown-toggle {
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight: 600;
    color: initial;
}

a.dropdown-toggle:hover {
    text-decoration: none;
}

a.search-param {
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight: 70;
    color: initial;
}

a.search-param:hover {
    text-decoration: none;
}
/*
li a.search-param:hover {
    background: gainsboro !important;
}
*/
#searchMenu .list-group li:nth-child(1){
    border-top: 0 none;
}


#search_widgets li {
    display:inline;
    list-style-type:none;
}
#search_widgets {  /* this fixes problem scrolling when widget column is short */
    padding-bottom: 600px;
    padding-right: 2em;
}

.widget-main .range-qtype-helper {
  font-size: 130%;
  color:gray;
}
#range_query_widget_helper_html {
  display:none;
  width:500px;
}
.widget-main ul li ul li {  /* mult labels */
   white-space:nowrap;
 }
 .widget-main > ul {
    margin-bottom:5px;
    padding-bottom:0;
 }
 .widget-main > ul > li ul {
    padding-left:0;
    padding-bottom:0;
 }
.widget-main ul li {
    margin-right: 5px;
    display:inline;
    list-style-type:none;
}
.widget-main label {
    font-size:95%;
}
.widget-main .intro {
    color:blue;
    margin:0 0 5px 0;
}

.start_over_controls {
    margin-top:5px;
}
.start_over_controls .btn:nth-child(2) {
    margin-left:-5px;
}

/* Overwrite the default to keep the scrollbar always visiblepadding-top: 1.5em; */

.sidebar_wrapper i.fa-check {
    display:none;
}

#sidebar ul.nav-list, #sidebar ul.nav-list li {
    margin:0; padding:0;
}
#sidebar .nav-list > li .submenu > li > a {
    padding-top:2px;
    padding-bottom:2px;
}
.nav-list > li a > .arrow {
    position: absolute;
    right: 10px;
    top: 5px;
}

.widget_column {
    overflow: auto;
    position: relative;
    padding 0 20px;
    margin: 0 10px;
    margin-left:-20px;
    margin-top:10px;
    width: 740px;
    max-width: 97%;
    height: 500px;  /* matches .sidebar_wrapper */
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.widget-header {
    margin:0; padding:0;
    min-height: 20px; /* overwrites ace style */
    height: 20px;
    padding-left: 5px;

}
.widget-header > .widget-title {
    line-height:20px;

}
.widget-toolbar {
    margin:0; padding:0;
    line-height:15px;
    margin-top:-2px;
    padding: 0px 5px;
}

.spinner {
    background-image: url('https://tools.pds-rings.seti.org/static_media/img/spinner.gif');
    width:30px;
    display:inline-block;
    background-repeat: no-repeat;
}
#collections_summary .spinner {
    display:none;
    margin:0px 10px;
    width:30px;
}
#collections_summary .button-container button {
  margin-bottom: 1em;
}

#obs-menu .spinner {
    display:none;
    margin:0px 10px;
    width:30px;
}
.menu_spinner {
    display:none;
    margin-left:5px;
    width:35px;
}

.badge-xlg {
    font-size:115%;
    font-weight:bold;
}


#zip_files .spinner {
    display:none;
}

.mult_group_label {
    padding: 5px 4px;
    padding-left:5px;
}
.mult_group {
    padding-left:0;
    display:none;
}

.mult_group > .multichoice {
    padding-left:0;
}

/* detail tab */
.detail-metadata {
    position:fixed !important;
    max-width: 700px;
    top:4.15em;
    bottom:3em;
    overflow-y: hidden;
}

@media (min-width: 768px) {
    .metadata-container {
        flex-basis: 800px !important;
        -webkit-flex-basis: 800px !important;
        max-width: 800px !important;
    }
}


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   margin-left: 0px  !important;
}

.footer .container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 42px;
  padding:10px 20px;
  text-align:right;
  background-color: #f5f5f5;
}
.footer a {
    white-space: nowrap;
}
/* about page */
.about ul {
    padding-left:30px;
    max-width: 900px;
}
.about ul li {
    display:inline;
}
.about li:after
{
  content: ', ';
}
.about li:last-child:after
{
  content: '';
}

.restart_button {
    text-align: center;
  padding-top: 1.5em;
}
.restart_button button {
    margin: 10px 0;
}

.ps-scrollbar {

}

input[type="text"].search_input_original {
    border: 1px solid #D5D5D5;
}

input[type="text"].search_input_valid {
    border: 3px solid #9EEEBB;
    margin: -2px;
}

input[type="text"].search_input_invalid {
    border: 3px solid #FFD700;
    background-color: #EEECEC;
    margin: -2px;
}

input[type="text"].search_input_invalid_no_focus {
    background-color: #F6AFAF;
    border: 3px solid #F6AFAF;
    margin: -2px;
}

.search_overlay {
    opacity: 0.5;
    pointer-events: none;
}

/* Make drop down scrollable vertically */
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-helper-hidden-accessible {
    display:none;
}

ul.ui-autocomplete {
    list-style: none;
}

ul.ui-autocomplete li {
    display: block
}

ul.ui-autocomplete li a {
    text-decoration: none;
}

ul.ui-autocomplete li a:hover {
    color: #000000;
}

ul.ui-autocomplete a.ui-state-active {
    background: #CECBFA;
    /* background: #4f99c6; */
    border: none;
}

.list-header, .list-footer {
    background-color: #F9F6F6;
}
