body {
    overflow: hidden;
}

.app-body {
    margin-top: 3.8em !important;
    overflow: hidden;
}

.container-fluid {
    padding: 0;
    margin-bottom: -12px;
}

.dictionary {
    display: none;
}

.tab-full-width {
    margin: 0 auto;
    width: 100%;
}

.navbar-brand {
    width: 3em !important;
}

@media(max-width: 992px) {
    #op-main-nav.navbar .navbar-brand {
        float: none;
        display: block;
    }
    #op-main-nav.navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    #op-main-nav.navbar .navbar-nav {
        float: none !important;
    }
}

.op-user-msg {
    display: none;
}

/* display normalized url message */
.op-show-msg {
    display: block;
}

#op-tab img.newGIF {
    display: none;
}

#search {
    height: 100%;
    position: absolute;
    left: 0;
    margin: 0;

}

#search .add_input {
    display: none;
}

#search .search-param {
    font-size: 90%;
}

#browse, #cart, #detail {
    padding: 0; margin:0;
    display: none;
}

#browse {
    background-color: #303030; /* #383838; */
}

#browse .data {
    background-color: white;
}

#browse .gallery {
    margin: 0;
    padding: 0;
    margin-top: .25em;
    background-color: #303030; /* #383838; */
    padding-left: 1.5em;
    min-height: 700px;
}

/* .gallery-contents {
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
} */

/* Make sure y-axis rail is not moving and always visible */
.op-gallery-view > .ps__rail-y {
    background-color: transparent !important;
}

.op-gallery-view {
    overflow: hidden;
    position: relative;
}

#detail {
    padding: 20px 50px;
}

#detail h1 {
    white-space: nowrap;
}

#nav-sidebar {
    margin: 0;
    padding: 0;
    width: 400em;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#sidebar {
    min-width: 24rem;
    max-width: 26rem;
    height: 100%;
}

#sidebar .submenu {  /* labels in 3rd submenu need schootch over a bit */
    margin-left: 15px;
}

#sidebar .menu_help {
    margin: 0;
    padding: .1em .2em;
    padding-left: 1em;
}

/*
Fix the sidebar width so the width will not change when .menu_help message shows up
Not sure if this is the desired behavior
*/
.sidebar-area {
    width: 400px;
}

.sidebar_wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: auto;
    margin-top: 5px;
    position: relative;
    height: 500px; /* matches .widget_column */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.op-redraw-menu .collapsing {
     -webkit-transition: none;
     transition: none;
}

hr.shadow-divider {
    height: 10px;
    border: 0;
    box-shadow: 0 9px 9px -10px #8c8b8b inset;
}

ul.searchMenu {
    padding-right: 2em;
}

.card-header .icon-action {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .icon-action {
    -ms-transform: rotate(90deg); /* IE 9 */
    -ms-transform-origin: 80%; /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    -webkit-transform-origin: 80%; /* Safari 3-8 */
    transform-origin: 80%;
    transform: rotate(90deg);
}

.thumbnail-container {
    display: inline-block;
    float: left;
    position: relative;
    padding: .10em;
    min-width: 100px;
    min-height: 100px;
}

.thumbnail-container .img-thumbnail {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.thumbnail-container:hover .op-thumb-overlay {
    height: 30%;
}

.op-thumb-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.92;
    filter: alpha(opacity=92);
    background: rgba(76, 75, 80, 0.3);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.op-thumb-overlay a:hover {
    color: #097da5;
    /* font-size: 130%; */
}

#browse .in {
    -webkit-box-shadow: inset 0px 0px 0px 10px #097da5;
    -moz-box-shadow: inset 0px 0px 0px 10px #097da5;
    box-shadow: inset 0px 0px 0px 10px #097da5
}

#cart .remove {
    display: none;
}

#cart .removed {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#cart .fa-times {
    color: #eee;
    opacity: 0.15;
}

#op-confirm-modal {
    border-radius: 6px;
    border-width: 3px;
}

.modal-content {
    border-radius: 1%;
}

.modal-footer .left-container {
    width: 74%;
}

.thumbnail-container .modal-overlay {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: -1;
}

.thumbnail-container .modal-show {
    z-index: 999;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*  -webkit-transition: opacity 0.1s ease-in;
      -moz-transition: opacity 0.1s ease-in;
      -o-transition: opacity 0.1s ease-in; */
    opacity: 1;
}

tr.modal-show {
    color: #167495;
    opacity: 0.92;
    filter: alpha(opacity=92);
}

.thumbnail-container .content-text {
    margin: 0px;
    opacity: 0.65;
}

.thumbnail-message {
    color: #fff;
    padding-left: 3em;
    width: 500px;
}

.img-thumbnail {
    background-color: transparent !important;
    border: 0px solid #000000 !important;
}

.op-thumb-overlay .op-tools {
    text-align: center;
}

.op-thumb-overlay .op-tools > a {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.op-thumb-overlay .op-tools a:nth-child(1n) {
    position: relative;
    left: 0;
}

.op-thumb-overlay .op-tools a:nth-child(2n) {
    margin-right: 0.8em;
    margin-left: 0.8em;
}

.op-thumb-overlay .op-tools a:nth-child(3n) {
    position: relative;
    right: 0;
}

td.op-table-tools {
    width: 3em;
}

td .form-group {
    padding: 0px 8px;
    height: 0.5em;
    margin-top: -5px;
}

td .form-group > a {
    color: white;
    font-size: 20px;
}

th.sticky-header {
    /*  avoid seeing through at the top of header */
    border-top: 0px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: black;
}

#dataTable  {
    padding: 0;
}

#dataTable th {
    vertical-align: middle;
    /* Fix the hidden th left/right border in firebox */
    background-clip: padding-box;
    text-align: center;
    /* padding-right: 10px; */
}

#dataTable th a {
    display: block;
    text-align: center;
    text-decoration: none;
}

#dataTable .column_ordering {
    margin: 0 10px;
    /* display: inline-flex; */
    /* float: right; */
}

#dataTable td {
    white-space: nowrap;
    min-width: 4.2em;
}

/* Move y-scrollbar out of container in table view */
#dataTable th:last-child {
    border-right-width: 15px;
}

#dataTable tr > td:last-child {
    border-right-width: 15px;
}

#dataTable th > div {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    position: relative;
    /* white-space: nowrap; */
    /* height: 100%; */
}

/* vertically center the resizable handle */
#dataTable th > div div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.dataTable {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.dataTable .ps__rail-y {
    background-color: transparent !important;
    z-index: 11;
}

/* Make sure x-scrollbar in dataTable is always at the left and visible */
.dataTable .ps__rail-x {
    background-color: transparent !important;
    opacity: 0.9 !important;
}

/* change from 1px to 2px to make ps__thumb-y more cnetered */
.dataTable .ps__thumb-y {
    right: 2px;
}

/* avoid seeing through ps__rail_x in table view */
.dataTable .ps__thumb-x {
    bottom: 1px;
}

.fadey {
    color: #b0b0b0;
}

.detailViewLink {
    margin-top: 70px;
    font-size: 130%;
    padding: 5px 0px;
    color: #3399ff;
}

#product_types {
    display: inline-grid;
}

#metadataSelector i.fa-check {
    display: inline-block;
}

#metadataSelector ul li {
    text-decoration: none;
}

.allMetadata, .selectedMetadata {
    height: 450px;
    overflow: scroll;
    overflow-x: auto;
}

.allMetadata ul li {
    padding-bottom: 3px;

}

.allMetadata .cat_label {
    margin-top: 15px;
    margin-bottom: -5px;
}

.selectedMetadata ul {
    padding-inline-start: 0.5em;
    padding-inline-end: 1em;
}

.selectedMetadata ul li:hover {
    cursor: grab;
}

.selectedMetadata ul li .unselect:hover {
    cursor: default;
}

.selectedMetadata ul li .info:hover {
    cursor: default;
}

.selectedMetadata .unselect {
    float: right;
}

.selectedMetadata {
    border: 0;
    z-index: 9999;
}

.selectedMetadata ul li {
    padding: 5px 15px;
    border: 1px dotted gray;
    list-style-type: none;
}

.hints {
    color: green;
    margin: 0 2px 0 5px;
}

.range_hints {
    display: block;
    clear: both;
    padding: 5px 0 10px 50px;
    color: green;
}

.range_hints span {
    margin-right: 5px;
}

.paging_indicator {
    color: #A8A8A8;
    padding: 0 10px;
}

.end_of_page {
    /* display:absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    display: none;
}

img.preview {
    max-width: 400px !important;
    max-height: 400px !important;
}

@media (min-width: 1200px) {
    .modal-lg {
        max-width: 1100px !important;
        max-height: 1100px !important;
    }
    img.preview {
        max-width: 600px !important;
        max-height: 600px !important;
    }
}

#galleryView {
    pointer-events: none;
    z-index: 999;
}

#galleryView button.close, #metadataSelector button.close {
    position: absolute;
    float: right;
    top: .8em;
    right: 1em;
    z-index: 999;
}

#galleryView .fa-cart-plus {
    float: left;
}

#galleryView .bottom {
    position: fixed;
    right: 2.5em;
    bottom: 1.5em;
    width: 40%;
    z-index: 1030;
}

#galleryView .prev > i {
    margin-right: .4em;
}

#galleryViewContents {
    position: relative;
    height: 625px;
}

#galleryViewContents .metadata {
    overflow-y: auto;
    max-height: 500px;
    width: 440px;
    position: fixed;
}

#galleryViewContents .left {
    min-height: 590px;
}

#galleryView .modal-dialog:hover {
    cursor: grab;
}

#galleryViewContents .contents:hover {
    cursor: text;
}

/* note - this is here to allow the user-style to be overridden on the modal */
a:-webkit-any-link, a::any-link {
    cursor: inherit;
}

#galleryViewContents .detail {
    position: fixed;
    bottom: 3.7em;
}

#galleryViewContents .ps__rail-y {
    background-color: transparent !important;
}

#galleryViewContents a.menu {
    width: 0px;
}

/* this is used to disable clicking on modal (#galleryViewContents) when infiniteScroll is still loading the next page */
.op-disabled {
    pointer-events: none;
    cursor: default;
}

/* this is used to style grey out disabled buttons */
.op-button-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.1;
}

#cart .cart-gallery-side {
    /* margin-top:.25em; */
    background-color: #303030; /* #383838; */
}

#cart .thumb-page {
    padding: 0 1.0em;
}

#cart-sidebar {
    padding-left: 3em;
    padding-right: 3em;
}

#cart .col {
    overflow-x: hidden;
    overflow-y: hidden;
}

#cart .gallery-contents {
    position: relative;
}

.hide_ps__rail-y {
    display: none !important;
}

#cart-sidebar .zippedFiles li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 10px 0px 15px -20px;
}

.cart_details {
    border-left: .3em double black;
    padding-left: 2em;
    min-width: 28em;
    max-width: 28em;
}

#op-download-links {
    display: none;
}

div.gallery {
    margin: 0;
    padding:0;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-right: -80px;
}

/* Make sort-order-container wrapped within the same container as browse-nav-containers */
nav.panel-heading {
    flex-direction: column;
    align-items: flex-start;
}

.browse-nav-container {
    height: 1.5em;
}

.browse-nav-container li {
    display: flex;
    align-items: center;
}

.browse-nav-container li input {
    height: 1.6em;
    width: 4.2em;
    text-align: center;
}

.sort-order-container {
    display: inline-flex;
    padding-left: 0.5em;
    /* padding-top: 0.5em; */
}

.sort-order-icon {
    color: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
}

.sort-contents {
    /* display: flex; */
    display: block;
    margin-bottom: 0;
}

.sort-contents li {
    opacity: 0.7;
    margin-bottom: -10px;
}

.flip-sort {
    cursor: row-resize;
}

@media (max-width: 700px) {
    .browse-nav-container li {
        border: 1px solid #383838;
        padding: 0;
        text-align: center;
    }
    .browse-nav-container {
        width: 100%;
        margin: 0;
    }
    .browse-nav-container .order-container {
        display: none;
    }
}

#op-observation-slider.ui-slider {
    width: 400px;
    height: .1em;
}

.op-observation-text {
    margin-left: 45px;
    padding-right: .5em;
    opacity: 0.5;
}

#op-observation-number {
    text-align: center;
    vertical-align: middle;
}

.ui-slider-horizontal .ui-slider-handle {
    /* width: auto; */
    top: -.6em;
    display: inline-block;
    height: 1.5em;
    position: relative;
    min-width: .68em;
}

.table-page {
    display: none;
}

.panel-body .gallery-contents {
    position: fixed !important;
    overflow-y: auto
}

.page-load-status {
    display: none; /* hidden by default */
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    /*color: #777;*/
}

/* opus-specific card stuff, used to be widgets */
.card-title {
    margin-top: .15em;
    margin-bottom: .15em;
}

.icon-action {
    margin-top: 5px;
    padding-left: 1em;
    font-size: 80%;
}

.searchMenu a.dropdown-toggle {
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight: 600;
    color: initial;
}

.searchMenua.dropdown-toggle:hover {
    text-decoration: none;
}

.searchMenu a.search-param {
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight: 70;
    color: initial;
}

.searchMenu a.search-param:hover {
    text-decoration: none;
}

#searchMenu .list-group li:nth-child(1) {
    border-top: 0 none;
}

#op-search-widgets li {
    display: inline;
    list-style-type: none;
}

/* this is for sorting widgets cards, display has to be block */
#op-search-widgets > li {
    display: block;
    list-style-type: none;
}

#op-search-widgets {  /* this fixes problem scrolling when widget column is short */
    padding-bottom: 20px;
    padding-right: 2em;
}

.widget-main .range-qtype-helper {
    font-size: 130%;
    color: gray;
}

#range_query_widget_helper_html {
    display: none;
    width: 500px;
}
.widget-main ul li ul li {  /* mult labels */
    white-space: nowrap;
}

.widget-main > ul {
    margin-bottom: 5px;
    padding-bottom: 0;
}

.widget-main > ul > li ul {
    padding-left: 0;
    padding-bottom: 0;
}

.widget-main ul li {
    margin-right: 5px;
    display: inline;
    list-style-type: none;
}

.widget-main label {
    font-size: 95%;
}

.sidebar_wrapper i.fa-check {
    display: none;
}

/* This is to make sortable scrolling (when sorting happened) works with ps */
#widget-container {
    overflow: auto !important;
    overflow-y: hidden !important;
}

.widget_column {
    overflow: auto;
    position: relative;
    padding 0 20px;
    margin: 0 10px;
    margin-left: -20px;
    margin-top: 5px;
    width: 740px;
    max-width: 97%;
    height: 500px;  /* matches .sidebar_wrapper */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.widget-header {
    margin: 0;
    padding: 0;
    min-height: 20px; /* overwrites ace style */
    height: 20px;
    padding-left: 5px;
}

.widget-header > .widget-title {
    line-height: 20px;
}

.widget-toolbar {
    margin: 0;
    padding: 0;
    line-height: 15px;
    margin-top: -2px;
    padding: 0px 5px;
}

/* small spinner */
.spinner {
    background-image: url('https://tools.pds-rings.seti.org/static_media/img/spinner.gif');
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
}

/* small spinner: shows up when zipped file links are loading (cart page) */
#op-download-links .spinner {
    display: none;
    margin: 0px 10px;
    width: 30px;
}

/* small spinner: shows up when total size is loading (cart page) */
.op-total-size .spinner {
    display: none;
    line-height: 16px;
    margin: 0 10px;
}

/* smaller spinner next to general constraints: shows up when menu is loading (search page) */
.op-menu-text.spinner {
    display: none;
    margin-left: 5px;
    width: 18px;
    line-height: 16px;
}

.spinner.op-show-spinner {
    display: inline-block;
}

/* large ellips spinner */
.op-page-loading-status .loader {
    display: none;
    /* top: 250px; */
}

#cart_summary .button-container button {
    margin-bottom: 1em;
}

.badge-xlg {
    font-size:115%;
    font-weight:bold;
}

.mult_group_label {
    padding: 5px 4px;
    padding-left: 5px;
}

.mult_group {
    padding-left: 0;
    display: none;
}

.mult_group > .multichoice {
    padding-left: 0;
}

/* detail tab */
.detail-metadata {
    position:fixed !important;
    max-width: 700px;
    top: 4.15em;
    bottom: 3em;
    overflow-y: hidden;
}

@media (min-width: 768px) {
    .metadata-container {
        flex-basis: 800px !important;
        -webkit-flex-basis: 800px !important;
        max-width: 800px !important;
    }
}

/* TODO: use @media to fine tune the heights of footer & nav bar
   when the width of browser window is small
*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-left: 0px  !important;
    z-index: 9999;
}

.footer .container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 42px;
    padding: 10px 20px;
    text-align: right;
}

.footer a {
    white-space: nowrap;
}

#op-help-panel {
    display: none;
    position: absolute;
    right: 0;
    z-index: 9999;
    top: 2em;
}

.op-header-text {
    display: inline-block;
}

#op-help-panel .card-body {
    overflow: auto;
    /* requirement for perfectScrollbar */
    position: relative;
}

.op-overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the panel */
    z-index: 1099;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}

/* display .overlay when it has the .active class */
.op-overlay.active {
    display: block;
    opacity: 1;
}

/* about page */
.about ul {
    padding-left: 30px;
    max-width: 900px;
}

.about ul li {
    display: inline;
}

.about li:after {
    content: ', ';
}

.about li:last-child:after {
    content: '';
}

.op-reset-button {
    text-align: center;
}

.op-reset-button button {
    margin: 5px 1px;
    font-weight: bold;
}

.op-reset-button button:disabled {
    pointer-events: none;
}

input[type="text"].search_input_original {
    border: 1px solid #D5D5D5;
}

input[type="text"].search_input_valid {
    border: 3px solid #9EEEBB;
    margin: -2px;
}

input[type="text"].search_input_invalid {
    border: 3px solid #FFD700;
    background-color: #EEECEC;
    margin: -2px;
}

input[type="text"].search_input_invalid_no_focus {
    background-color: #F6AFAF;
    border: 3px solid #F6AFAF;
    margin: -2px;
}

.search_overlay {
    opacity: 0.5;
    pointer-events: none;
}

/* Make drop down scrollable vertically */
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-helper-hidden-accessible {
    display: none;
}

ul.ui-autocomplete {
    list-style: none;
}

ul.ui-autocomplete li {
    display: block
}

ul.ui-autocomplete li a {
    text-decoration: none;
}

ul.ui-autocomplete li a:hover {
    color: #000000;
}

ul.ui-autocomplete a.ui-state-active {
    background: #CECBFA;
    /* background: #4f99c6; */
    border: none;
}

.list-header, .list-footer {
    background-color: #F9F6F6;
}

/* remove that extra space on top when loading table page */
.op-height-0 {
    height: 0;
}

.op-noSelect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

/* Ripple In */
@-webkit-keyframes hvr-ripple-in {
    100% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
    }
}

@keyframes hvr-ripple-in {
    100% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
    }
}

.hvr-ripple-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    z-index: 20;
}

.hvr-ripple-in:before {
    content: '';
    position: absolute;
    border: #20c997 solid 6px;
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0.5;
    animation: hvr-ripple-in 1s infinite;
    -webkit-animation: hvr-ripple-in 1s infinite;
}
