<html> 
<head> 
<meta http-equiv="content-type" content="text/html;charset=utf-8">
</head>
<body>
<div id = "error_page" style = "text-align:center; margin:auto"> 
	<h2>Page Not Found</h2> 
	<img src = "http://media.planetaryrings.com/black_hole.jpg"> 
	<p style = "font-size:x-small; margin-top: 5px"> 
		<a href = "http://www.flickr.com/photos/smithsonian/4844234636/">Smithsonian</a> 
	</p>		
	<h1> 
	You've fallen into our black hole!
	</h2> 
	<h3>Please <a href = "/">go Home</a></h3> 
</div>  

</body>
</html>