<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="UTF-8">
	
<title>volumes browser</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
<script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>

<link rel="stylesheet" href="{{ MEDIA_URL }}css/mobile.css" type="text/css" media="screen">
<script src="{{ MEDIA_URL }}js/mobile.js"></script>

       
{% block more_head %}
{% endblock %}     

</head>
<body>      
   
<div data-role="page" data-theme="a" id="jqm-home">  
	<div class = "header" data-role="header"><p>&nbsp;</p></div>    
	
		{% block homepage_img %}
	    	<div> 	
		    <img align = "middle" class = "homepage_img" src = "{{MEDIA_URL}}images/{{ homepage_pic }}">
			</div>
		{% endblock %} 
		  
		<div data-role="content">    
	    	{% block mcontent %}		
			{% endblock %}   
		</div>
</div>
                                                                 

<div data-role="page" data-theme="a" id="gallery_page">  
	<div class = "header"  data-role="header"><p>&nbsp;</p></div>     

	<div><ul id="gallery"></ul></div>
                  
    <div id = "gallery_footer1" data-role="footer"><p>&nbsp;</p></div>
    <div id = "gallery_footer2" data-role="footer"><p>&nbsp;</p></div>
	

</div>
                         
 
{% block more_end %}
{% endblock %}     

</body>
</head>