<!DOCTYPE html>
<html lang="en">

{% include "dictionary/header.html" %}

<body class="no-skin">
  <div class="container">
    <header class="site-header">
      <div class="banner">
        <div class = "brandtext">
          <a class="site-title" href="/">OPUS Dictionary of terms</a>
        </div>
        <div class = "searchbox">
          <form id = "searchbox" action="/search/" method="get">
              <input type="text" name="q" placeholder="enter search term">
              <input type="submit" value="Search">
          </form>
        </div>
      </div>
    </header>
  </div>

<div class="main-container" id="main-container">

    {% block content %}
    {% endblock %}

</div><!--/.main-container-->


{% include "dictionary/footer.html" %}
</body>
</html>
