[run]
branch = True
include =
    apps/*
    test_api/*
    */opus_support.py
omit =
    manage.py
    test_api/test_result_counts.py

[html]
Title = Coverage Report for OPUS Tests

[report]
exclude_lines =
  pragma: no cover
  def __unicode__