<section class="container-fluid">
    <div class="row flex-md-row flex-md-nowrap op-detail-content">
        <div class="col-md-12 op-detail-metadata-container">
            <div class="op-detail-metadata-header position-sticky pe-5">
                <h1>Observation Detail</h1>
                <div class="row mb-3">
                    <div class="col-auto"><b>OPUS ID: </b>{{ opus_id }}</div>
                    <div class="op-detail-cart col col-1">
                        <a class="op-detail-tooltip" href="#" data-icon="cart" data-action="{{ cart.action }}" data-id="{{ opus_id }}" title="{{ cart.title }}">
                            <i class="{{ cart.icon_class }}"></i>
                        </a>
                    </div>
                    <div class="op-detail-share col col-2 pe-0 ps-1">
                        <a class="op-detail-tooltip" href="#" data-icon="share" data-action="share" data-id="{{ opus_id }}" title="Copy the URL for this detail page to the clipboard">
                            <i class="fas fa-share"> SHARE</i>
                        </a>
                    </div>
                    <div class="op-share-message col col-3 text-center pe-1 ps-1 text-dark bg-secondary pe-0">URL copied!</div>
                </div>
            </div>
            <div class="op-detail-metadata pe-5">
                <h2 class="op-no-select">PDS Products</h2>
                <div class="op-no-select">
                    <p>Download zipped <a data-action="downloadData" href="#" download>data archive</a> or <a data-action="downloadURL" href="#" download>URL archive</a> for this observation (all products, current version only).</a></p>
                    <p>Click on any "Index" type to see the entry for this observation in that table.</p>
                    {% for version, version_items in products.items %}
                        <ul class="op-detail-list">
                            <h4>Version: {{ version }}</h4>
                            {% for product_type, product_type_info in version_items.items %}
                                <li class="op-detail-entry">
                                    {% if product_type_info.tooltip %}
                                        <i class="fas fa-info-circle op-detail-entry-icon op-detail-tooltip" title="{{ product_type_info.tooltip }}"></i>&nbsp;
                                    {% endif %}
                                    <div>
                                        {% if product_type_info.product_link %}
                                            <a href={{ product_type_info.product_link }} target="_blank">{{ product_type }}:</a>
                                        {% else %}
                                            {{ product_type }}:
                                        {% endif %}
                                        &nbsp;
                                        <ul class="list-inline op-detail-file-list">
                          	                {% for f in product_type_info.files %}
                          			            <li class="list-inline-item"><a href="{{ f.link }}" target="_blank">{{ f.filename }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>

                <h2>Selected Metadata</h2>
                <p class="op-no-select"><a class="op-download-csv" download href="#">Download CSV of selected metadata</a></p>
                <div id="cols_metadata_{{ opus_id }}">
                    <span class="spinner">&nbsp;</span>
                </div>
                <div>
                    <h2>All OPUS Metadata for this Observation</h2>
                    <p class="op-no-select">Download all metadata <a href="/opus/__api/metadata/{{ opus_id }}.json" download>as JSON</a></p>
                    <p class="op-no-select">Note: OPUS does not provide all available metadata. Additional metadata may be available in the individual product label (.lbl) or index files listed in the PDS Products section above.</p>
                    <div id="all_metadata_{{ opus_id }}"></div>
                </div>
            </div>
        </div>
        <div class="col-12 op-detail-img pt-5">
            <div class="op-no-select">
                {% if preview_urls|length > 1 %}
                    <div class="flexslider">
                        <ul class="slides">
                        {% for preview_med_url, preview_full_url in preview_urls %}
                            <li>
                                <a href="{{ preview_full_url }}" target="_blank">
                                    <img class="op-detail-prev-img-tooltip" src="{{ preview_med_url }}" alt="Preview image of {{ opus_id }}" title="Click for full-size version">
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    {% for preview_med_url, preview_full_url in preview_urls %}
                            <a href="{{ preview_full_url }}" target="_blank">
                                <img class="op-detail-prev-img-tooltip" src="{{ preview_med_url }}" alt="Preview image of {{ opus_id }}" title="Click for full-size version">
                            </a>
                    {% endfor %}
                {% endif %}
                <div class="{% if preview_urls|length > 1 %}op-preview-guide-center{% endif %}">
                    <p>
                        {% if preview_guide_url %}
                            Read about <a href="{{ preview_guide_url }}" target="_blank">how to interpret {{ instrument_id }} preview images</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
