/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) { ... }
*/

body {
  background-color: #585858;
  font-family: 'Open Sans', sans-serif;
  color: #404040;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

container {
  display: flex;
  flex-direction: column;
  height: 100%
}

article {
  display: flex;
  flex: 1;
  min-height: 0px; /* IMPORTANT: you need this for non-chrome browsers */
  margin-bottom: -50px;
}

.from-left {
  margin-left: 15px;
}

.hidden {  /* a11y way to present only to screen readers */
  text-indent: -5000px;
}
.site-header  {
  height: 150px;
  background-color: black;
  margin:0 15px 0 15px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .site-header  {
    margin:0;  /* hiding it for now, hard to layout this thing in phone-size screens */
  }
}

@media only screen and (max-width: 768px) {
  .searchbox {
    display:none;  /* hiding it for now, hard to layout this thing in phone-size screens */
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) and (orientation : portrait) {
  .searchbox {
    display:block;
    position: absolute;
    right:25px;
    top:90px;
  }
}

/* site header / banner */
.banner {
  background: url(assets/PRN_header1.jpg) no-repeat;
  background-position: right 0 top 0;
  height: 150px;
  margin:0;
  padding:0;
  background-size: cover;
}

.banner .brandtext {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.2;
  margin: 0 0 .4em;
  position: relative;
  display: inline-block;
  margin: 50px 37px 50px 37px;

}
.banner a.site-title {
	color:white;
}
.banner a.site-title:hover {
	text-decoration: none;
}

@media only screen and (max-width: 768px) {
.banner .brandtext {
  text-align: center;
  font-size: 42px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.2;
  margin: 0 0 .4em;
  position: relative;
  display: inline-block;
  margin: 20px 37px 20px 37px;
  }
}

@media only screen and (max-width: 480px) {
  .banner .brandtext {
    font-size:2.2em;
  }
}
@media only screen and (min-width: 480px) {
  .banner .brandtext {
    font-size:2.2em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .banner .brandtext {
    font-size:2.5em;
    margin-bottom:10px;
  }
}

@media only screen and (max-width: 768px) {
  .mobile {
    display:block;
  }
  .brandtext {
    width: 80%;
    text-align: center;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) and (orientation:portrait) {
  .mobile {
    display:none;
  }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
  .mobile {
    display:block;
  }
  .brandtext {
    display:block;
    width:100%;
    text-align: center;
    margin:20px auto;

  }
}

/* searchbox */
.searchbox {
  width:320px;
  position: absolute;
  right:10px;
  top:90px;

}

ul#tableOfContents {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul#tableOfContents li {
  float: left;
}

ul#tableOfContents  li a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

ul#tableOfContents  li a:hover {
    background-color: #111111;
}

/* breadcrumbs */
ol.breadcrumb {
  background-color: white;
  margin-bottom:-20px;
}


/* the container for our overflowed content */
.overflow-container {
  flex: 1 1 auto;
  overflow-y: scroll;
  height: 70vh;
}

/* the overflow content itself */
.overflow-content {
  min-height: 0px; /* IMPORTANT: you need this for non-chrome browsers */
  padding: 20px;
}

#dictionaryContainer {
  position:relative;
  display: block;
  margin: 15px;
}

.definitionList {
  display: block;
}

.dictionaryContent {
  margin-top: 15px;
}

.term {
  font-weight: bold; !important
}
.context {
  font-style: italic;
}
.description {
}
.importDate {
  font-size: 80%;
}


/* footer */
.navbar-nav.nav-justified > li{
    float:none;
}
.footer {
  width: 100%;
  margin:0; padding:0;
  background-color: #2c2c2c;
  font-size: 0.9em;
  position: fixed;
  bottom: 0;
  flex: none;
}
.container {
  background-color: white;
  width:100%;
  padding:0 30px 0 0;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:visited,
.footer-blue {
  color: #c8d6fc;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active{
  color: white;
}
.footer-lower {
  background-color: black;
  color:white;
  padding:30px;
  padding-bottom: 60px;
}
