/* column chooser things */

body {
  background-color:#303030;
}
#cboxContent, #cboxContent, #cboxLoadedContent, img.cboxPhoto {
  background-color:#303030;
}



.dictionary {
    display:none;
}
.ui-tooltip {
    max-width:40em;
    padding:10px;
    margin:0 30px;
    font-size:130%;
    z-index:9999;
}



.fadey {
    color:#b0b0b0;
}

.zipped_files li {
    margin:0; padding:0;
    list-style-type:none;
    margin:10px 0px 15px -20px;
}
.gallery_image_focus {
    border:1px solid #E8FCF6;
    border:1px solid #B0D0CF;
}
.ul.ace-thumbnails>li a {
    margin:0; padding:0;
}
.gallery_data_link {
    margin-top:70px;
    font-size:130%;
    padding:5px 0px;
    color: #3399ff;
}
.gallery_data_viewer {
    position: fixed;
    top:45px;
    right:50px;
    width:280px;
    height:80%;
    padding:20px;
    margin:10px;
    border:1px solid white;
    overflow-y: scroll;
    background:#101010;
    opacity: 0.9;
    color:white;
    z-index:9999 !important;
}
.gallery_data_viewer h2 { /* ring_obs_it at top of data viewer */
    font-size:95%;
}
.gallery_data_viewer h3 { /* table name header - */
    margin:0; padding:0;
    margin-top:15px;
    margin-bottom:5px;
    font-size:100%;
    color:#D0D0D0;
}
.gallery_data_viewer dt {
    color:#3399ff;
}
.gallery_data_viewer dd {
    margin-bottom:5px;
}

html > body.no-skin > div#main-container.main-container > div.main-container-inner > div.row > div.col-md-12 {
    margin:0; padding:0;
}
.main-container-inner, .main-container {
    height: 100%;
}
.main_site_tabs li {
    display:none;
}
.main_site_tabs li:first-child {
    display:block;
}

#search .add_input {
    display:none;
}

.column_chooser .all_columns i.fa-check {
    display:none;
}

.column_chooser .all_columns .fa-plus {
    display:none;
}
.ui-dialog .ui-dialog-titlebar-close {
    float: right;
    margin-right:-35px;
    height:25px;
}
.fixed-dialog {
  position: fixed;
  top: 50px;
  left: 50px;
}
.fixed {
    position: fixed;
    top: 30px;
    margin-left: 720px;
}

.column_chooser {
    display:none;
    overflow:scroll;
    margin:20px;
}
.column_chooser input {
    display:inline;
    margin-right:3px;
    margin-bottom:3px;

}
.column_chooser .column_checkbox {
    display:inline;
}
.column_chooser ul li {
    text-decoration:none;
    margin:5px;
}
.all_columns   {
    height: 450px;
    overflow:scroll;
}
.all_columns ul li {
    padding-bottom:3px;

}
.all_columns .cat_label {
    margin-top:15px;
    margin-bottom:-5px;
}
.chosen_columns ul li:hover{ cursor:crosshair; }
.chosen_columns ul li .chosen_column_close:hover{ cursor:pointer; }

.chosen_column_close {
    float:right;
}

.chosen_columns {
    border:0;
    z-index:9999;
}
.chosen_columns ul li {
    padding:5px 15px;
    border:1px dotted gray;
    list-style-type:none;
    background:white;
 }

.hints {
    color:green;
    margin: 0 2px 0 5px;
}
.range_hints {
    display:block;
    clear:both;
    padding: 5px 0 10px 50px;
    color: green;
}
.range_hints span {
    margin-right: 5px;
}



tr div.navbar-inverse {
    margin:0;
    padding:10px;
}
.infinite_scroll_page {
    color:white;
    padding:10px;
    text-align:center;
    margin:2px;
}
.infinite_scroll_page {
    float:none;
    clear:both;
    width:100%;
}
.infinite_scroll_page {
    display:none;
}
li.infinite_scroll_page  {
    list-style-type: none;
    margin-bottom:5px;
}
.infinite_scroll_spinner {
    margin-left:5px;
}
.back_to_top {
    float:right;
    margin-right:20px;
}
.back_to_top a:link {color: white; text-decoration:none;}
.back_to_top a:visited {color: white; text-decoration:none;}
.back_to_top a:hover {color: white; text-decoration:underline;}
.back_to_top a:active {color: white; text-decoration:none;}


.paging_indicator {
    margin:0 10px;
    margin-top:7px;
    color:#A8A8A8;
    font-size:92%;
}

.browse_nav {
    position:fixed;
    top:45px;
    left:0;
    z-index:999;
    width:100%;
    /*
    height:50px;
    background-color: #2c2c2c;
    */
}

.end_of_page {
    display:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:10px;
}


.thumb_overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    pointer-events:none;
    z-index:99;
    /* border:7px solid #49afcd; */
}
.thumb_overlay a:hover { color:#00FFFF; font-size:130%;}

.thumb_selected {
    border:2px solid #00FFFF;
}
.thumb_selected_icon {
    color:#00FFFF;
    font-size:130%;
}

a i.fa-search-plus:hover {
    display:inline;
    visibility: visible;
}

.ace-thumbnails > li > .tools.tools-bottom a{
    float:right;
}


body {
  padding-top: 40px;

}
.data_table  {
    padding:0;
    margin-top:40px;
}
.data_table .column_ordering {
    margin:0 10px;
}
.collection_details {
    padding:20px 40px;
}
.collection_download_button {
    padding-top:0px;
}
ul.ace-thumbnails {
    margin:-5px;
    padding:-5px;
}
#browse, #collection, #detail {
    padding:0; margin:0;
    display:none;
}
#search {
    height:100%;
    position: absolute;
    top:-12px; 
    left:0;
    margin:0;

}
#search, #browse, #collection, #detail {
    margin-top: -30px;
}
#collection {
    margin-top:20px;
}
#detail {
    padding:20px 50px;
}
#detail_image div p {
    margin-top:10px;
    font-size: 1.2em;
}

#browse {
}
#browse .gallery {
    margin:0; padding:0;
    margin-top:-20px;
    background-color: #303030; /* #383838; */
    padding-left:20px;
    padding-top:60px;
    min-height:500px;
}
.navbar-fixed-top + .main-container {
    padding-top:-5px;
}
.navbar-nav li.active:hover {
    background: white !important;
}
.navbar-nav li.active a:hover {
    color: #383838 !important;
}

#search_widgets1 li, #search_widgets2 li {
    display:inline;
    list-style-type:none;
}
#search_widgets1 {
    padding-bottom: 300px;
}

#search .widget_pause {
    margin:0px 5px 10px 7px;
}
.widget-main ul li ul li {
   white-space:nowrap;

 }
.widget-main ul li {
    margin-right: 5px;
    display:inline;
    list-style-type:none;
}
.widget-main label {
    font-size:95%;
}



/* Overwrite the default to keep the scrollbar always visible */

.sidebar_wrapper i.fa-check {
    display:none;
}

#sidebar ul.nav-list, #sidebar ul.nav-list li {
    margin:0; padding:0;

}
#sidebar ul.nav-list {
    margin-left:0px;
}
#sidebar .nav-list .fa-info-circle {
    font-size:1.1em;
    color:#C0C0C0; 
}
#sidebar .submenu {  /* labels in 3rd submenu need schootch over a bit */
    margin-left:15px;
}

#sidebar {
    width:100%;
}
.sidebar_wrapper {
    margin:0; padding:0;
    margin-top:5px;
    position: relative;
    height:500px; /* matches .widget_column */
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.sidebar_wrapper.mCustomScrollbar {
    margin-top:10px;
}

.widget_column {  /* lisa rename this! */
    overflow: auto;
    position: relative;
    padding 0 20px;
    margin: 0 10px;
    margin-top:10px;
    width: 740px;
    max-width: 97%;
    height: 500px;  /* matches .sidebar_wrapper */
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.spinner {
    background-image: url('http://pds-rings.seti.org/search/opus2/static_media/images/spinner.gif');
    width:30px;
    display:inline-block;
    background-repeat: no-repeat;
}
#collections_summary .spinner {
    display:none;
    margin:0px 10px;
    width:30px;
}
.menu_spinner {
    display:none;
    margin-left:5px;
    width:35px;
}

.badge-xlg {
    font-size:115%;
    font-weight:bold;
    padding:5px;
}


#zip_files .spinner {
    display:none;
}
.data_table th a {
    display:block;
}


.mult_group_label {
    padding: 5px 4px;
    padding-left:5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.mult_group {
    display:none;
}
