/* column chooser things */

.main_site_tabs li {
    display:none;
}
.main_site_tabs li:first-child {
    display:block;
}

#search .add_input {
    display:none;
}

.column_chooser .all_columns i.fa-check {
    display:none;
}

.column_chooser .all_columns .fa-plus {
    display:none;
}
.ui-dialog .ui-dialog-titlebar-close {
    float: right;
    margin-right:-35px;
    height:25px;
}

.fixed {
    position: fixed;
    top: 30px;
    margin-left: 720px;
}

.column_chooser {
    display:none;
    overflow:scroll;
    margin:20px;
}
.column_chooser input {
    display:inline;
    margin-right:3px;
    margin-bottom:3px;

}
.column_chooser .column_checkbox {
    display:inline;
}
.column_chooser ul li {
    text-decoration:none;
    margin:5px;
}
.all_columns   {
    height: 450px;
    overflow:scroll;
}
.all_columns ul li {
    padding-bottom:3px;

}
.all_columns .cat_label {
    margin-top:15px;
    margin-bottom:-5px;
}
.chosen_columns ul li:hover{ cursor:crosshair; }
.chosen_columns ul li .chosen_column_close:hover{ cursor:pointer; }

.chosen_column_close {
    float:right;
}

.chosen_columns {
    border:0;
    z-index:9999;
}
.chosen_columns ul li {
    padding:5px 15px;
    border:1px dotted gray;
    list-style-type:none;
    background:white;
 }

.hints {
    color:green;
    margin: 0 2px 0 5px;
}
.range_hints {
    display:block;
    clear:both;
    padding: 5px 0 10px 50px;
    color: green;
}
.range_hints span {
    margin-right: 5px;
}

#sidebar i.fa-check {
    display:none;
}

/* */
tr div.navbar-inverse {
    margin:0;
    padding:10px;
}
.infinite_scroll_page {
    color:white;
    padding:10px;
    text-align:center;
    margin:2px;
}
.infinite_scroll_page {
    float:none;
    clear:both;
    width:100%;
}
.infinite_scroll_page {
    display:none;
}
li.infinite_scroll_page  {
    list-style-type: none;
    margin-bottom:5px;
}
.infinite_scroll_spinner {
    margin-left:5px;
}
.back_to_top {
    float:right;
    margin-right:20px;
}
.back_to_top a:link {color: white; text-decoration:none;}
.back_to_top a:visited {color: white; text-decoration:none;}
.back_to_top a:hover {color: white; text-decoration:underline;}
.back_to_top a:active {color: white; text-decoration:none;}


.paging_indicator {
    margin:0 10px;
    margin-top:7px;
    color:#A8A8A8;
    font-size:92%;
}

.browse_nav {
    position:fixed;
    top:45px;
    left:0;
    z-index:999;
    width:100%;
}


.end_of_page {
    display:block;
    margin-top:15px;
    height:10px;
}


.thumb_overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    pointer-events:none;
    z-index:99;
    /* border:7px solid #49afcd; */
}
.thumb_overlay a:hover { color:#00FFFF; font-size:130% }

.thumb_selected {
    border:2px solid #00FFFF;
}
.thumb_selected_icon {
    color:#00FFFF;
    font-size:130%;
}

a i.fa-search-plus:hover {
    display:inline;
    visibility: visible;
}

.ace-thumbnails > li > .tools.tools-bottom a{
    float:right;
}

body {
  min-height: 500px;
  padding-top: 42px;

}
.data_table  {
    padding:0;
    margin-top:-20px;
}
.data_table .column_ordering {
    margin:0 10px;
}
.collection_details {
    padding:20px 40px;
}
.collection_download_button {
    padding-top:0px;
}
ul.ace-thumbnails {
    margin:-5px;
    padding:-5px;
}
#browse, #collection, #detail {
    display:none;
}
#search, #browse, #collection, #detail {
    margin-top: -30px;
}
#detail {
    padding:20px 50px;
}

#browse {
    margin-top:20px;
    margin-right:5px;
    min-height:1000px;
}
.navbar-fixed-top + .main-container {
    padding-top:-5px;
}
.navbar-nav li.active:hover {
    background: white !important;
}
.navbar-nav li.active a:hover {
    color: #383838 !important;
}

#search_widgets1 li, #search_widgets2 li {
    display:inline;
    list-style-type:none;
}

#search .widget_pause {
    margin:0px 5px 10px 7px;
}
.widget-main ul li ul li {
   white-space:nowrap;
 }
.widget-main ul li {
    margin-right: 5px;
    display:inline;
    list-style-type:none;
}


#sidebar {
    padding-right:10px;
    height:800px;
    margin-left:15px;
    width:310px;
}
.spinner {
    background-image: url('http://pds-rings.seti.org/~lballard/django_opus/static_media/images/spinner.gif');
    width:25px;
    display:inline-block;
    background-repeat: no-repeat;
}

.menu_spinner {
    display:none;
    margin-left:5px;
    width:3-5px;px;
}

.badge-xlg {
    font-size:115%;
    font-weight:bold;
    padding:5px;
}


#zip_files .spinner {
    display:none;
}
.data_table th a {
    display:block;
}


.mult_group_label {
    padding: 5px 4px;
    padding-left:5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.mult_group {
    display:none;
}




/* body{
    margin:-5px;;
    padding:-5px;;
    background: #383838;
    background:#FFEEFF;
    font-size: x-small;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.red_border {
    border:2px solid red;
}

#collections_summary ul {
    width:9-5px;%;
}
#collections_summary ul li{
    display:inline;
    list-style-type:none;
}
#collections_summary span{
    white-space:nowrap;
    padding-right:5px;

}

#topsection {
    margin:-5px;; padding:-5px;;
    position:fixed;
    top:-5px;px;
    left:-5px;px;
    width:1-5px;-5px;%;
    z-index:2-5px;-5px;-5px;;
    background: white;
    height: 3em;
    display:block;

}

.download_buttons {
    margin:-5px;; padding:-5px;;
    margin-top:2em;
}
.download_buttons ul, .download_buttons ul li {
    padding -5px;; margin:-5px;;
}
.download_buttons ul li:hover{ border:1px solid black;}
.download_buttons ul li a:hover{ text-decoration:none}

.download_buttons ul li {
    border:1px solid gray;
    padding:5px 7px;
}

#tabs_header {
    margin:-5px;;
    padding:-5px;;
    position:fixed;
    left:-5px;px;
    top:2.6em;
    z-index:2-5px;-5px;-5px;;
    width:1-5px;-5px;%;
}

.close {
    float:right;
    font-weight:bold;
    font-size:16-5px;%;
    padding:-5px;;
    margin-top:-1-5px;px;
    margin-right: -15px;
}

#search .column_checkbox {
    display:none;
}


.chosen_column_close {
    float:right;
}

.view_indicator {
    border:1px solid white;
    padding:2px 15px;
}


.cart_control  {
    padding:2px 15px;

}
.cart_control span {
    margin:-5px;px 5px;
}


.browse_controls_container {
    position:fixed;
    top:5.3em;
    left:-5px;px;
    margin:-5px;;
    padding:-5px;;
    display:block;
    z-index:1-5px;-5px;;
    width:1-5px;-5px;%;
}
#collections .browse_controls_container {
    margin:-5px;;
    padding:-5px;;
    position:fixed;
    top:13.8em;

}

ul.browse_controls{
    height:3-5px;px;
    margin:-5px;;
    padding:3px;
    color:white;
    font-weight:bold;
    text-align:center;
    background-color:#A8A8A8;
}
ul.browse_controls li{
    display:inline;
    margin:-5px;px 2-5px;px;
}

.browse_controls a:link {color: white; text-decoration:none;}
.browse_controls a:visited {color: white; text-decoration:none;}
.browse_controls a:hover {text-decoration:underline;}
.browse_controls a:active {text-decoration:none;}

#collections_summary {
    border:3px solid gray;
    position:fixed;
    top:5.4em;
    left:-5px;px;
    height:8em;
    width:85%;
    margin:-5px;px;
    padding:-5px;px 2-5px;px;
    background:white;
    overflow:hidden;
    z-index:2-5px;-5px;;

}


#current_page {
    display:inline;
    width:3-5px;px;
}


#paging a {
    margin:-5px;px 5px;
}
span #pages {
    margin:-5px;;
    padding:-5px;;
}



.pause_widget {
    display:none;
}

#column_header_menu {
    display:none;
}


#restart {
    font-size:larger;
    padding:5px;
    margin:-5px;px 9-5px;px;
    margin-top:-3-5px;px;
    float:right;
    font-size:12-5px;%;
    border:2px solid gray;
    background:white;
}

#split_search_form {
    padding:-5px;px;
    float:right;
    margin-right:9-5px;px;
    margin-bottom:-8-5px;px;
    margin-top:-2-5px;px;
    font-size:9-5px;%;

}
#split_search_form ul li {
    padding:-5px;px 5px;
    display:inline;
    list-style-type:none;
}

#topsection h1 {
    margin: -5px;;
    padding-top: 5px;
}

#formscolumn1 {
    border-right:1px dotted #C8C8C8;
    height: 1-5px;-5px;%;
    padding:-5px;;
    margin:-5px;;
}

.formscolumn {
    padding:-5px;px;
    margin:-5px;px;
    float:left;
    color:#3-5px;3-5px;3-5px;;
    width:7-5px;%;
    min-height:5-5px;-5px;px;
}

#leftcolumn {
    overflow:hidden;
    white-space:nowrap;
    margin:-5px;px;
    padding:-5px;px;
    float: left;
    width: 25%;
    min-width:2-5px;%;
    background: white;
    font-size:9-5px;%;
}

#footer {
    display:none;
    clear: both;
    width: 1-5px;-5px;%;
    background: black;
    color: #FFF;
    text-align: center;
    padding: 4px -5px;;
}

#footer a {
color: #FFFF8-5px;;
}

#detail a:link {color: blue; text-decoration:none;}
#detail a:visited {color: purple; text-decoration:none;}
#detail a:hover {text-decoration:underline;}
#detail a:active {text-decoration:none;}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:none;}





.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  z-index: 1-5px;;
  display: block;
  position: absolute;
  height: 1-5px;-5px;%;
  top: -5px;;
  left: -5px;;
  right: -5px;;
  background: rgba(-5px;, -5px;, -5px;, -5px;.5);
}

.cats {
    margin:-5px;;
    padding:-5px;;
}
#search .cats, #search .menu_list {
    display:none;
}
#browse .cats .menu_list {
    padding:-5px;;
    margin: -1-5px;px -5px;px 15px 15px;
}
.cat_label {
    margin:-5px;;
    padding:-5px;;
    width:1-5px;-5px;%;
    font-weight:4-5px;-5px;;
    height:1.7em;
}

ul.groups li {
    margin:-5px;;
    padding:-5px;;
    list-style-type:none;
}
.group_label {
   font-size:1-5px;5%;
   font-weight:bold;
   background:white;
   border: 3px solid #C8C8C8;
   width:9-5px;%;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   margin:1-5px;px 5px 5px -3-5px;px;
   padding:5px 5px 5px 25px;
}
#browse .group_label {
    margin-top:2-5px;px;
}
.group_label a {
    margin:-5px;;
    padding:-5px;;
    color: #5-5px;5-5px;5-5px;;
}

#search ul.menu_list {
    margin: -5px;;
    padding: -5px;;
    margin-left:2-5px;px;
    text-align:left;
}



.menu_list_indicator_on {
    list-style-image: url('http://pds-rings.seti.org/~lballard/django_opus/static_media/images/menu_bullet.png');
}
.menu_list_indicator_off {
    list-style-image: none;
}

ul.menu_list li {
    margin:-5px;;
    margin-bottom:1-5px;px;
    padding:-5px;;
    width:1-5px;-5px;%;

}

.data_container {
    display:none;
    margin:-5px;;
    padding:-5px;;
}

.data_table {
    margin:-5px;;
    padding:-5px;;    border-width: 1px;
    border-spacing: -5px;px;
    border-style: none;
    border-color: gray;
    border-collapse: collapse;
    background-color: white;
    font-size:85%;
}
.data_table th {
    border-width: 1px;
    border-style: inset;
    border-color: gray;
    background-color: white;

}
.data_table td {
    border-width: 1px;
    border-style: inset;
    border-color: gray;
    background-color: white;
    text-align:center;
    padding:-5px;px auto;

}
.data_table tbody tr:nth-child(2n)    { background-color:#F7F7F7; }
.data_table tbody tr:hover { background-color: #EEEEEE; }
.column_main {
    white-space:nowrap;
}
.column_main img {
    display:none;
    float:left;
    padding:-5px;;
    margin:-5px;;
}
.column_ordering img {
    padding:-5px;;
    padding-bottom:3px;
    margin:-5px;;
}
.column_ordering {
    height:12px;
    border-top:1px solid #8-5px;8-5px;8-5px;;
    display:block;
    color:#8-5px;8-5px;8-5px;;
    padding:1px;


}
.column_label {
    padding:-5px;px 3-5px;px;
    height:15px;
    display:inline-block;
}


ul .gallery {
    padding:5px 3-5px;px;
}
.gallery>li {
    float:left;
    list-style-type:none;
    margin:5px 5px;
}

#info_box {
    color:white;
}

.widget_draghandle {
    margin:-5px;;
    padding:-5px;;
    width:1-5px;-5px;%;
}

.widget_scroll_wrapper {
    overflow:auto;
    display:inline-block;
    height:1-5px;-5px;%;
    width:1-5px;-5px;%;

}
.widget {
    border: 3px solid #B-5px;B-5px;B-5px;;
    margin:15px 2-5px;px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;


    -moz-box-shadow: 3px 3px 1-5px;px #B-5px;B-5px;B-5px;;
    -webkit-box-shadow: 3px 3px 1-5px;px #B-5px;B-5px;B-5px;;
    box-shadow: 3px 3px 1-5px;px #B-5px;B-5px;B-5px;;

    border-radius: 13px;
    background:white;
    overflow:hidden;
    display:block;
}
.widget li {
    display:inline;
}

.widget_minimized {
    display:none;
    width:9-5px;%;
    padding:5px -5px;px;
    margin:-2px 2-5px;px;
    font-weight:7-5px;-5px;;
    overflow:hidden;
}
.widget_inner {
    display:block;
    margin:5px 2-5px;px 2-5px;px -2-5px;px;
}

.widget_controls  {
    float:right;
    text-decoration:none;
    display:inline;
    font-size:11-5px;%;
    margin:5px 5px -5px;px -5px;px ;
}
.widget_inner ul ul li {
    display:inline;
    list-style-type:none;
    white-space:nowrap;
}
.formscolumn ul li, .formscolumn li {
    list-style-type:none;
}
.widget_controls li {
    display:inline;
    list-style-type:none;
    white-space:nowrap;
}
.mult_group_label {
    display:block;
    padding: 5px 4-5px;px;
    padding-left:4-5px;px;
    font-weight:6-5px;-5px;;
    font-size: 11-5px;%;
}
.mult_group {
    margin:5px -5px;px 1-5px;px 2-5px;px;
    padding: -5px;px;
    display:none;
}
.widget_form label {
    white-space:nowrap;
}
.RANGE .widget_form li, .TIME .widget_form li {
    white-space:nowrap;
}
.menu_cat_triangle, .menu_group_triangle {
    margin:-5px;;
    padding:-5px;;
    margin-right:-1-5px;px;
    padding-bottom:15px;
}
.menu_group_triangle {
    padding-bottom:-5px;px;
}
.closed_triangle {
    background-image: url('http://pds-rings.seti.org/~lballard/django_opus/static_media/images/show.png');
}
.opened_triangle {
    background-image: url('http://pds-rings.seti.org/~lballard/django_opus/static_media/images/hide.png');
}
.spinning, .spinner {
    background-image: url('http://pds-rings.seti.org/~lballard/django_opus/static_media/images/spinner.gif');
}
.closed_triangle, .opened_triangle, .spinning, .spinner {
    width:2-5px;px;
    display:inline-block;
    background-repeat: no-repeat;
}
.spinner {
    display:none;
}

.widget_draghandle >.closed_triangle {
    margin-top:4px;
}

.widget_title {
    margin:-5px;;
    width:1-5px;-5px;%;
    background: #C8C8C8;
    padding:3px -5px;px -5px;px -5px;px ;
    border-bottom:3px solid #B-5px;B-5px;B-5px;;
}
.widget_controls_minimized {
    margin:-15px -5px;px -5px;px -12-5px;px;
}
.widget_controls li {
    padding:-5px;px 1-5px;px;
}
.widget_controls a {
    color:#888888;
}
h2.widget_label {
    padding:-5px;px 5px;
    font-size:1-5px;5%;
    display:inline;
}
.RANGE .widget_form ul, .TIME .widget_form ul {
    padding: 1-5px;px -5px;px;
    margin-left:3-5px;px;
}
.RANGE .widget_form ul li, .TIME .widget_form ul li{
    padding:-5px;px 1-5px;px;

}
.RANGE .widget_form ul li:first-child, .TIME .widget_form ul li:first-child {
      padding-right:3-5px;px;
}

.widget_inner .RANGE, .widget_inner .TIME {
    float: right;

}
.remove_input {
    padding:-5px;px 5px;
    font-size:2-5px;-5px;%;
    }

.add_input{
    font-size:14-5px;%;
    margin:-5px;px 1-5px;px;
    margin-right:-1-5px;px;
    padding:-5px;;
    float:right;

}

li .STRING {
    list-style-type:none;
    margin:-5px;px 1-5px;px;
}

a.add_string, a.remove_string{
    margin:-5px;px 1-5px;px;
}

a.remove_string {
    font-size:13-5px;%;
}
a.remove_string:hover {text-decoration:none;}

#result_count {
    margin:-5px;;
    padding:-5px;;
}



#detail_tab, #browse_tab, #collections_tab {
    display:none;

}



.hints {
    color:green;
    margin:-5px;px 1-5px;px -5px;px 5px;
}
.fadey {
    color:#9-5px;9-5px;9-5px;;
}

#search {
    display:none;
    padding:-5px;;
    margin:-5px;;
    width:1-5px;-5px;%;
}
#tabs, #maincontainer, #browse .gallery, #browse .browse_content, #content, .no-js {
    margin:-5px;;
    padding:-5px;;
}
.browse_content {

}
#browse, #search {
    margin-top:92px;
}
#collections {
    margin-top:18em;
}
#browse{
}
#browse .nav {
    visibility:hidden;
}
.back_to_top {
    color:white;
    float:left;
    text-align:left;
    font-size:9-5px;%;
}


.browse_footer {
    display:none;
    text-align:center;
    padding:3px;
    margin:auto;
    width:93%;
    cursor:pointer;
}
_footer {
    font-size:11-5px;%;
}

.button {
    border:4px solid #5-5px;5-5px;5-5px; ;
}
.button:hover {
    border:4px solid #C8C8C8;
    cursor:default;
}
.button_disabled {
    border:4px solid #C8C8C8;
    cursor:none;
}
#detail_data {
    background:white;
    padding:5-5px;px;
    font-size:14-5px;%;
    height:6-5px;-5px;px;
}

ul.gallery_icons {
    text-align:center;
    margin:-5px;;
    padding:5px;
}
.gallery_icons>li {
    float:left;
    list-style-type:none;
    padding:-5px;;
    margin:-5px; 5px;
}
.gallery_icons input{
    height: 18px;
    width:  18px;
    margin:-5px;;
}

.remove_widget {
    float:right;
    font-color:#8-5px;8-5px;8-5px;;
    margin:-5px;;
    padding:-5px;;
    margin:-3px 3px -5px;px -5px;px;
    font-size:11-5px;%;
    font-weight:9-5px;-5px;;
    display:block;
}
.remove_widget:hover {
    text-decoration:none;
    color:#4-5px;4-5px;4-5px;;
}

.browse_footer a:link {color: white; text-decoration:none;}
.browse_footer a:visited {text-decoration:none;}
.browse_footer a:hover {text-decoration:underline;}
.browse_footer a:active {text-decoration:none;}

.minimize_widget {
    margin:5px 5px 5px 2-5px;px;
    float:left;
}

.infinite_scroll_page_container {
    margin:-5px;;
    padding:-5px;;
}
.infinite_scroll_page_container  {
    margin-left:5-5px;-5px;px;

}
d