<!-- basic scripts -->
<!--[if !IE]> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"</script>
<script src="{{ STATIC_URL }}js/ace_theme/uncompressed/jquery.mobile.custom.js"></script>
<script src="{{ STATIC_URL }}js/stringUtils.js"></script>


{% block scripts %}
<script src = "{{ STATIC_URL }}js/dictionary.js" type="text/javascript"></script>
{% endblock  %}

<div class = "end_of_page"><p>&nbsp;</p></div>

<footer class="footer bg-light">
    <div class="container">
        <p class="text-muted">
        	OPUS is a project of the <a href = "https://pds-rings.seti.org">Planetary Ring-Moon Systems Node</a> •
        	<a href = "/opus/about/">About</a> •
        	<a href = "/opus/about/">Datasets</a> •
        	<a href = "/opus/api/">API</a> •
        	<a href = "http://ringsnodesearchtool.blogspot.com/">Blog</a> •
          <a href = "https://pds-rings.seti.org/cgi-bin/comments/form.pl">Questions and Comments</a> •
        </p>

    </div>

</footer>
