<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

 <body class="no-skin">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <div class="navbar" id="navbar">

            <div class="navbar-header hidden-xs">
                <a href="/opus" class="navbar-brand restart">
                OPUS
                </a><!-- /.brand -->
            </div><!-- /.navbar-header -->

            <ul class="nav navbar-nav main_site_tabs">

                <li class="active tab_display"><a href="#search">Search</a></li>

                <li>
                    <a href="#browse">
                        <span class = "text-nowrap">
                            Browse Results <span id = "result_count" class="badge badge-primary badge-xlg badge-success">0</span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#collection">
                        <span class = "text-nowrap">
                            Selections <span id = "collection_count" class="badge badge-primary badge-xlg badge-success">0</span>
                        </span>
                    </a>
                </li>
                <li><a href="#detail">Detail</a></li>

                <li class="external-link">
                  <a href="https://ringsnodesearchtool.blogspot.com/" target="_blank">Recent Announcements</a>
                </li>
            </ul>

          </div><!-- /.navbar-header -->
    </div><!--  navbar-container -->
</nav><!-- navbar -->

<div class="main-container" id="main-container">

    {% block content %}


    <div class="main-container-inner">

        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <!-- tabs -->
        {% include "tabs.html" %}

    </div><!--/.main-container-inner-->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>

    {% endblock %}


</div><!--/.main-container-->


{% include "footer.html" %}
<div id = "range_query_widget_helper_html">
<p><strong>Any</strong> = The image contains at least a portion of the region bounded by the given min and max.</p>

<p><strong>All</strong> = The image contains the entire requested range from min to max.</p>

<p><strong>Only</strong> = Everything within the image is in the requested range.</p>

<!-- img width = "100%" src = "https://cloud.githubusercontent.com/assets/98707/20112139/fe07e65e-a59f-11e6-8181-9932da277130.png" -->
</div>


</body>
</html>
