<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<script src="http://www.google.com/jsapi?key=ABQIAAAAb6RayCA1lnO1vy0vTORhHBTxv8na2HF1s43zYvkulyc0WZEzURR9VpzJVrlHfvAmGXeFDtqnkl8L0g" type="text/javascript"></script>
<script language="Javascript" type="text/javascript">
google.load("jquery", "1.4.2");
google.load("jqueryui", "1.8.2");
</script>
<title>OPUS 2</title>

<link rel="stylesheet" href="{{ MEDIA_URL }}styles/main.css" type="text/css" media="screen">

</head>
<script language="Javascript" type="text/javascript">
$(document).ready(function() {
    if (!window.location.hash) alert ("no hash param");
    var hash = window.location.hash;
    $.ajax({ url: "result_count/?"+ hash.substr(1, hash.length), success: function(json) {
            $('#op-result-count').html(json.result_count);
            var fields = ['planet','target'];
            // testing mult requests
            for (i=0;i<fields.length;i++) {
                field = fields[i]
                $.ajax({ url: "mults/labels/?field=" + field + '&'+ hash.substr(1, hash.length), success: function(json) {
                    var test_str = '';
                    var mults = json.mults;
                    for (mult in mults) {
                        test_str += mult + ': ' + mults[mult] + "&nbsp;&nbsp;&nbsp;";
                   }
                   prev = $('#mults').html();
                   $('#mults').html(prev + json.field + ": <br>" + test_str + ' <br>--------------<Br> ');
                   // $('#debug').html(json.post_name + ' ' + json.sql);
                   
                 }});
             }
      }});
    });
</script>

</head>
<body>




<div id="maincontainer"> 
{% block top_section %}
	<div id="topsection">
		<div class="innertube">
			<h1>CSS Liquid Layout #2.1- (Fixed-Fluid)</h1>
		</div>
	</div> 
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
	<div id="footer">
		<a href="http://www.dynamicdrive.com/style/">Dynamic Drive CSS Library</a>
	</div> 
{% endblock %}

</div>
    
<br><br>
--------------------------------------------------- debug ------------------------------------------------------------
 <br><br>
 <div id = "debug" style = "border:1px solid red"></div>

 
</body>
</html>
