<head>
    <meta charset="utf-8" />
    <title>OPUS - Data Search for Outer Planets NASA Mission Data - NASA PDS Ring-Moon Systems Node</title>
    <meta name="description" content="OPUS - Outer Planets Data Search Tool - NASA PDS Ring-Moon Systems Node" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico">

    <!-- basic styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css" media="all" rel="stylesheet" type="text/css">

    <!-- bootstrap style sheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-grid.css">

    <!-- CoreUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">

    <!-- Main styles for this application-->
    <link href="{{ STATIC_URL }}coreui/css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}coreui/vendors/pace-progress/css/pace.min.css" rel="stylesheet">

    <!-- template styles will eventally go here -->

    <!-- opus custom -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />

    <!-- inline styles related to this page -->
    {% block page_styles %} {% endblock %}
    <style>
    {% block inline_styles %} {% endblock %}
    </style>

    <script  type="text/javascript" >
        // note: these are here to use the django templates in the defs.
        default_columns = '{{ default_columns }}';
        static_url = '{{ STATIC_URL }}';
    </script>

</head>
