<head>
    <meta charset="utf-8" />
    <title>OPUS - Data Search for Outer Planets NASA Mission Data - NASA PDS Ring-Moon Systems Node</title>
    <meta name="description" content="OPUS - Outer Planets Data Search Tool - NASA PDS Ring-Moon Systems Node" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <!-- jquery theme -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css">

    <!-- bootstrap style sheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-grid.css">

    <!-- Main styles for this application-->
    <link rel="stylesheet" href="{{ STATIC_URL }}coreui/css/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}perfect-scrollbar/css/perfect-scrollbar.css">

    <!-- opus custom -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/opus.css?version={{ OPUS_FILE_VERSION }}" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/loader.css?version={{ OPUS_FILE_VERSION }}" />

    <!-- inline styles related to this page -->
    {% block page_styles %} {% endblock %}
    <style>
    {% block inline_styles %} {% endblock %}
    </style>

    <script>
        // note: these are here to use the django templates in the defs.
        const default_columns = '{{ default_columns }}';
        const static_url = '{{ STATIC_URL }}';
        const max_selections_for_data_download = '{{ MAX_SELECTIONS_FOR_DATA_DOWNLOAD }}';
    </script>

</head>
