{% comment %}
	this is all inside of: <li id="widget__{{ slug }}" class = "widget">

	range-qtype-helper div is appended in widgets.js becuase omg was impossible to layout #todo
{% endcomment %}

<div class="row">
    <div class="col-xs-12 col-sm-12 widget-container-span">
        <div class="widget-box widget-color-blue2">
            <div class="widget-header">
                <h5 class="widget-title">{{ label }} {{ units }}</h5>
								<i style = "color:white" class = "ace-icon fa fa-info-circle" title = "
										{{tooltip|safe }}
								                      "></i>
                <span class = "spinner">&nbsp;</span>
                <div class="widget-toolbar">

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up" data-icon-show="fa-chevron-down" data-icon-hide="fa-chevron-up"></i>
                        </a>

                        <a href="#" data-action="close" data-slug="{{ slug }}" class = "close_widget">
                            <i class="fa fa-times"></i>
                        </a>

                </div><!-- /widget-toolbar -->
            </div><!-- /widget-header -->

            <div class="widget__{{ slug }} widget-body
							{% if form_type in range_form_types %}
								 range-widget
							{% endif %}
							{% if form_type in mult_form_types %}
								 mult-widget
							{% endif %}
						">
                <div class="widget-main">
                    <div id = "hint__{{ slug }}" class = "range_hints"></div>
                    <ul>

                        {% if intro %}
                            <div class = "intro">
                                {{ intro }}

                            </div>
                        {% endif %}

                        	{{ form|safe }}

                    </ul>
                </div><!-- /widget-main -->
            </div><!-- /widget-body -->
        </div><!-- /widget-box -->
    </div><!-- widget-container-span -->
</div><!-- /row -->
