{% load humanize %}
<div id="cart-sidebar" class="w-100">
    <div id="cart_summary" class="well well-lg">
        <div id="op-download-links">
            <h1>Zipped File Links</h1>
            <ul class="zippedFiles"></ul>
            <span class="spinner">&nbsp;</span>
        </div>
        <div class="op-download-options-header border-bottom border-light">
            <h1>Download Options</h1>
            <!-- <p>Total Files: <span id="total_files">{{ download_count }}</span></p> -->
            <!-- <p>Total Size (before zip): <span id="op-total-download-size">{{ total_download_size_pretty }}</span></p> -->
            <div>
                <p class="op-total-size mb-0 mr-3">Total Size (before zip):
                    <span class="spinner">&nbsp;</span>
                    <span id="op-total-download-size">{{ total_download_size_pretty }}</span>
                </p>
                <p class="op-total-download">Total Files:
                    <span class="spinner">&nbsp;</span>
                    <span id="op-total-download-count">{{ total_download_count|intcomma }}</span>
                </p>
            </div>
            <p class="m-0 mb-1">Select which product types to include in downloads:</p>
            <div class="mb-3">
                <button class="op-cart-select-all-btn btn btn-sm btn-primary" type="button">
                    <i class="fas fa-check"></i>&nbsp;&nbsp;Select all product types
                </button>
                <button class="op-cart-deselect-all-btn btn btn-sm btn-danger" type="button">
                    <i class="fas fa-times"></i>&nbsp;&nbsp;Deselect all product types
                </button>
            </div>
        </div>
        <div class="op-download-options-product-types pr-2 w-100">
            <table class="op-download-options-table table-sm w-100">
                <thead>
                    <tr class="border-bottom border-light">
                        <th scope="col"></th>
                        <th scope="col">Product Type</th>
                        <th scope="col" class="text-right"># Obs</th>
                        <th scope="col" class="text-right"># Files</th>
                        <th scope="col" class="text-right">Size</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product_cat, product_list in product_cat_list %}
                        <th class="bg-light" colspan="5">
                            <h5 class="mt-2">
                                <button class="op-cart-select-btn border-0 bg-light" data-category="{{ product_cat|slugify }}" type="button" title="Select all"><i class="fas fa-check"></i></button>
                                <button class="op-cart-deselect-btn border-0 bg-light" data-category="{{ product_cat|slugify }}" type="button" title="Deselect all"><i class="fas fa-times"></i></button>
                                {{ product_cat }}
                            </h5>
                            <!-- <div>
                                <a class="op-cart-select-btn" title="Select all" role="button" data-category="{{ product_cat|slugify }}">
                                    <i class="fas fa-check"></i>
                                </a>
                                <a class="op-cart-deselect-btn" title="Deselect all" role="button" data-category="{{ product_cat|slugify }}">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div> -->
                            <!-- <button class="op-cart-select-btn border-0" data-category="{{ product_cat|slugify }}" type="button" title="Select all"><i class="fas fa-check"></i></button>
                            <button class="op-cart-deselect-btn border-0" data-category="{{ product_cat|slugify }}" type="button" title="Deselect all"><i class="fas fa-times"></i></button> -->
                        </th>

                                {% for product_info in product_list %}
                                    <tr class="border-bottom border-light">
                                        <th scope="row">
                                            <input type="checkbox" value="{{ product_info.slug_name }}" data-category="{{ product_cat|slugify }}"
                                                {% if product_info.product_count > 0 %}
                                                    checked
                                                {% endif %}
                                            >
                                        </th>
                                        <td>
                                            <span>
                                                {% if product_info.tooltip %}
                                                    &nbsp;&nbsp;<i class="fas fa-info-circle" title="{{ product_info.tooltip }}"></i>
                                                {% endif %}
                                                {{ product_info.product_type }}
                                            </span>
                                        </td>
                                        <td class="text-right">{{ product_info.product_count|intcomma }}</td>
                                        <td class="text-right">{{ product_info.download_count|intcomma }}</td>
                                        <td class="text-right">{{ product_info.download_size_pretty }}</td>
                                    </tr>
                                {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
