{% extends "base.html" %}
{% block content %}

<div class = "container">

	<div class = "col-md-8">
		{% block more_head %}
		<link rel="stylesheet" href="{{ MEDIA_URL }}styles/api_guide.css" type="text/css" media="screen">
		{% endblock %}

		<h1>OPUS API Guide</h1>

		<div>
			<p>
				This guide describes the API that drives <a href = "https://tools.pds-rings.seti.org/opus">OPUS, an outer planets data search tool</a> produced by the <a href = "https://pds-rings.seti.org">NASA PDS Ring-Moon Systems Node</a>. Any search that can be performed in OPUS can also be requested as an API call. Below are several examples. Please <a href = "https://pds-rings.seti.org/cgi-bin/comments/form.pl?"> send us questions or comments</a>.
			</p>
		</div>

		<div class = "jumpto">
		{% for section in guide.sections %}
		<a href = "#{{ section.title|slugify }}">{{ section.title }}</a> <br>
		{% endfor %}
		</div>

		{% for section in guide.sections %}
			<div class = "section">
			<a name = "{{ section.title|slugify }}"></a>

			<h2>{{ section.title }}</h2>
			<p>{{ section.desc }}</p>

			{% for endpoint in section.endpoints %}

		  		<div class = "intro">
					<h3>{{ endpoint.title }}</h3>

					<p>{{ endpoint.desc }}</p>
				</div>

			   <ul class = "keyvals">

					{% for key,val in endpoint.info.items %}
						 <li><strong>{{key}}: </strong> {{val}} </li>
			    {% endfor %}
				</ul>

				<div class = "examples">
					<strong> Example: </strong>

					<ul>
					{% for example in endpoint.examples %}

		  		  		<li><p id = "example_intro">{{ example.desc }}  </p>

				    	<p><a href = "{{ example.url }}" target = "_blank">
								{{ example.url }}
							</a></p>

						<p class = "cutpaste">
							<!-- curl -O {{ base_url }}{{ example.link }} -->
							<input type = "text" value = "wget {{ example.url }}" size=80>
						</p>

						</li>

					{% endfor %}

					</ul>
			   </div>
			</ul>
			{% endfor %}

		<a href = "#">back to top</a>
		</div> <!-- groups -->
		{% endfor %}

	</div>

{% endblock %}
