<script type="text/javascript" src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<div id="Histogram" class="SessionInfo tab-pane">
    <div id="chart_ips"></div>
    <div id="chart_sessions"></div>
</div>

<script type="text/javascript">
$(function()
{
    let ip_data = [
        {% for host_info in host_infos_by_ip|sort(attribute="total_time") %}
            {{ host_info.total_time.total_seconds() / 60 }},
        {% endfor %}
    ];

    let session_data = [
        {% for host_info in host_infos_by_ip %}
            {% for session in host_info.sessions %}
                {{ session.duration().total_seconds() / 60 }},
            {%  endfor %}
        {% endfor %}
    ];

    var layout = {
        xaxis: {title: "Minutes"},
        yaxis: {title: ""},
        bargap: 0.05,

    };

    layout.yaxis.title = '# Hosts'
    Plotly.newPlot('chart_ips', [{x: ip_data, type: 'histogram'}], layout);

    layout.yaxis.title = '# Sessions'
    Plotly.newPlot('chart_sessions', [{x: session_data, type: 'histogram'}], layout);
});
</script>

