<!doctype html>
<html lang="en">
<head>
  <title>Log Analyzer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<style>
{% raw %}
@media (min-width: 768px){
  #left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    overflow-y: scroll;
    border-right: 1px solid blue;
  }
  #right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 75%;
  }
}
#left {
  text-align: left;
  height:100%;
}
#right {
  height:100%;
  text-align: left;
}
.SessionLink {
  font-family: "Roboto",sans-serif;
}
.SessionLink.active {
  background-color:yellow;
}
.SessionInfo td {
  vertical-align:top;
  padding: 0 5px;
}
.tooltip-inner {
    text-align: left;
}
table.SessionLinkTable {
  border-collapse: separate;
  border-spacing: 4px 2px;
}

{% endraw %}
</style>
</head>
<body>

<div class="container-fluid">
<div class="row">

<div class="col-sm-3" id="left">

<!--
The left hand column is a controlled by a bootstrap navbar.  The user clicks on either "By IP" or "By Time" and
bootstrap shows the appropriate tab-pane in the tab contents.

The left-hand column controls what is visible in the right-hand panel by marking at most one of them as "active".
Being inside a tab contents, only those marked active are made visible.  We unfortunately cannot use a bootstrap navbar
because it requires that all the navigation tabs be within a single unordered list.
-->

<nav class="navbar navbar-light bg-light">
<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" data-target="#ByIP">By IP</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" data-target="#ByTime">By Time</a></li>
</ul>
</nav>

<div class="tab-content">

<div id="ByIP" class="tab-pane show active">

{% set marker_to_glyph = { "has-search": "search", "has-columns": "list-ul", "fetched-gallery": "images",
                            "has-download": "file-download", "has-obsolete-slug" : "times-circle" }
%}
{% set walking_cane = "https://cdn0.iconfinder.com/data/icons/people-and-lifestyle-1/64/people-elderly-cane-walking-senior-16.png" %}

{% macro generate_session_row(session, full) %}
    <tr>
    {% for flag in action_flags_list %}
        {% set flag_in_use = flag in session.action_flags %}
        {% if flag_in_use or full %}
            {% set glyph = marker_to_glyph[flag.as_html_classname()] %}
            {% if glyph == "times-circle" %}
                <td><img {%if not flag_in_use %}class="invisible" {% endif %}src="{{ walking_cane | safe}}"></td>
            {% else %}
                <td><span class="{{ 'fas fa-' ~  glyph ~ ('' if flag_in_use else ' invisible') }}">&zwj;</span></td>
            {% endif %}
        {% else %}
            <td></td>
        {% endif %}
    {% endfor %}
    <td>{{ caller() }}</td>
    </tr>
{% endmacro %}

{% macro host_info_ip_or_name(host_info) %}
    {% if host_info.name %}
        <a data-toggle="tooltip" title="{{ host_info.ip }}"> {{host_info.name}}</a>
    {% else %}
        {{ host_info.ip }}
    {% endif %}
{% endmacro %}

{% for host_info in host_infos_by_ip %}
    {% if not loop.first %}<hr/>{% endif %}
    {{ host_info_ip_or_name(host_info) }}
    ({{ host_info.total_time() }})
    <table class="SessionLinkTable">
        {% for session in host_info.sessions %}
            {% call generate_session_row(session, loop.first) %}
               <a href="#" class=SessionLink data-target="#{{ session.id }}">
                    {{ session.start_time().strftime("%Y %b %d %H:%M:%S") }} ({{ session.duration() }})</a>
            {% endcall %}
        {% endfor %}
    </table>

{% endfor %}
</div>

<div id="ByTime" class="tab-pane">
{% for day, host_infos_for_day in host_infos_by_date %}
    {% if not loop.first %}<hr/>{% endif %}
    <h4>{{ day.strftime("%Y %b %d") }}</h4>
    <table class="SessionLinkTable">
    {% for host_info in host_infos_for_day %}
        {% set session = host_info.sessions[0] %}
        {% call generate_session_row(session, loop.first) %}
            <a href="#" class=SessionLink data-target="#{{ session.id }}">
               {{ session.start_time().strftime("%H:%M:%S") }}&nbsp;({{ session.duration() }})</a>
               {{ host_info_ip_or_name(host_info) }}
        {% endcall %}
    {% endfor %}
    </table>
{% endfor %}

</div>  ## #ByTime
</div>  ## Tab Content containing #ByIp and #ByTime
</div>  ## #left

{% macro print_slugs(session) %}
     <ul class="list-unstyled">
     {% for type, slug_info in session.slug_info() %}
         <li>
         <b>{{ type.title() }} Slugs: </b>
         {% for slug_name, is_obsolete in slug_info %}
             <span class="{{'text-danger' if is_obsolete else 'text-dark'}}">{{ slug_name }}</span>
             {{- '' if loop.last else ', ' }}  ## minus sign kills the spaces before the comma
         {% else %}
             <i>none</i>
         {% endfor %}
         </li>
     {% endfor %}
     </ul>
{% endmacro %}

{% macro print_session_entries(session) %}
    <table>
    {% for entry in session.entries %}
        {% for line in entry.data %}
        <tr>
            {% if loop.first %}
                {% if entry.opus_url %}
                    <td><a href="{{ api_host_url ~ entry.opus_url }}" target="_blank">{{ entry.relative_start_time }}</a></td>
                {% else %}
                    <td>{{ entry.relative_start_time }}</td>
                {% endif %}
                <td><a data-toggle="tooltip" href="#" title="{{ entry.target_url() }}">&bull;</a></td>
            {% else %}
                <td></td><td></td>
            {% endif %}
            <td>{{ line }}</td>
        </tr>
        {% endfor %}
     {% endfor %}
     </table>
{% endmacro %}

<div class="col-sm-9" id="right">
<div class="tab-content">
{% for host_info in host_infos_by_ip %}
    {% for session in host_info.sessions %}
    <div id="{{ session.id }}" class="SessionInfo tab-pane">
        <h3>{{ host_info.hostname() }} at {{ host_info.start_time().strftime("%Y %b %d %H:%M:%S %z") }}</h3>
        {{ print_slugs(session) }}
        <hr/>
        {{ print_session_entries(session) }}
    </div>{% endfor %}
{% endfor %}
</div>  ## class=tabContent
</div>  ## #right
</div>  ## class=row
</div>  ## class=container

<script>


$(function() {
    $('[data-toggle="tooltip"]').tooltip({ boundary: 'window' });

    $('.SessionLink').click(function() {
        var target = $(this).data('target');

        // Deactivate the session links and session infos that are currently active.
        $('.SessionLink.active').removeClass('active');
        $('.SessionInfo.active').removeClass('active');

        // Mark as active both of the Session Links that point to this target so that they will be highlighted.
        $(`a.SessionLink[data-target="${target}"]`).addClass('active');
        // Mark the target itself (a Session Info) as active.  It's inside a tab pane, so this unhides it.
        $(target).addClass('active');

        $('#right').scrollTop(0);
        return false;
    })
});
</script>
</body>
</html>
