<!doctype html>
<html lang="en">
<head>
  <title>Log Analyzer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<style>
#left, #right, #gutter {
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: left;
  height:100%;
}
#left {
  left: 0;
  width: 30%;
  padding-right: 15px;
  padding-left: 15px;
  overflow-y: scroll;
}
#gutter {
  background: blue;
  left: 30%;
  width: 4px;
  cursor: col-resize;
}
#right {
  right: 0;
  width: calc(70% - 4px);
  padding-right: 15px;
  padding-left: 15px;
  overflow-y: scroll;
}
.SessionLink {
  font-family: "Roboto",sans-serif;
}
.SessionLink.active {
  background-color: yellow;
}
.SessionInfo td {
  vertical-align:top;
  padding: 0 5px;
}
.tab-pane {
    padding-bottom: 10pt;
    padding-top: 10pt;
}
table.SessionLinkTable {
  border-collapse: separate;
  border-spacing: 4px 2px;
}
.Summary2 {
  margin-left: 10pt
}
.Summary3 {
  margin-left: 10pt
}
.show_all {   /* Used by --xxshowall for URLs that would orderinarily be ignored. */
  white-space: nowrap;
  color: darkgray;
}
.tooltip-inner {  /* Forces tooltips to be left aligned rather than centered. */
    text-align: left;
}
</style>
</head>
<body>
<div class="container-fluid">
<div class="row">

<div id="left">

<!--
The left hand column is a controlled by a bootstrap navbar.  The user clicks on either "By IP" or "By Time" and
bootstrap shows the appropriate tab-pane in the tab contents.

The left-hand column controls what is visible in the right-hand panel by marking at most one of them as "active".
Being inside a tab contents, only those marked active are made visible.  We unfortunately cannot use a bootstrap navbar
because it requires that all the navigation tabs be within a single unordered list.
-->

<nav class="navbar navbar-light bg-light">
<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" data-target="#Summary">Summary</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" data-target="#ByIP">By IP</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" data-target="#ByTime">By Time</a></li>
</ul>
</nav>

<div class="tab-content">

{% set name_and_glyph = (
    ("HAS_SEARCH", "search"),
    ("FETCHED_GALLERY",  "images"),
    ("HAS_METADATA", "list-ul"),
    ("HAS_DOWNLOAD", "file-download"),
    ("HAS_OBSOLETE_SLUG" , "book-dead"))
%}

{% set ip_to_host_name = context.ip_to_host_name %}

{% macro generate_session_row(session, full) %}
    <tr>
    {% for flag_name, glyph in name_and_glyph %}
        {% set flag = context.flag_name_to_flag(flag_name) %}
        {% set flag_in_use = flag in session.session_info.get_icon_flags() %}
        {% if flag_in_use or full %}
            {% set classes = ['fas', 'fa-' + glyph] + ([] if flag_in_use else ['invisible']) %}
            <td><span class="{{ classes | join(' ') }}">&zwj;</span></td>
        {% else %}
            <td></td>
        {% endif %}
    {% endfor %}
    <td>{{ caller() }}</td>
    </tr>
{% endmacro %}

{% macro session_ip_or_name(session_info) %}
    {% if session_info.host_ip in ip_to_host_name %}
        <span data-toggle="tooltip" title="{{ session_info.host_ip }}">{{ ip_to_host_name[session_info.host_ip] }}</span>
    {% else %}
        {{ session_info.host_ip }}
    {% endif %}
{% endmacro %}

{% macro log_entry_ip_or_name(log_entry) %}
    {% if log_entry.host_ip in ip_to_host_name %}
        <span data-toggle="tooltip" title="{{ log_entry.host_ip }}">{{ ip_to_host_name[log_entry.host_ip] }}</span>
    {% else %}
        {{ log_entry.host_ip }}
    {% endif %}
{% endmacro %}

<div id="ByIP" class="tab-pane">
{% for host_info in host_infos_by_ip %}
    {% if not loop.first %}<hr/>{% endif %}
    {{ session_ip_or_name(host_info.sessions[0]) }}
    ({{ host_info.total_time }})
    <table class="SessionLinkTable">
        {% for session in host_info.sessions %}
            {% call generate_session_row(session, loop.first) -%}
               <a href="#" class="SessionLink" data-target="#{{ session.id }}">
                    {{- session.start_time().strftime("%Y %b %d %H:%M:%S") }} ({{ session.duration() }})</a>
            {%- endcall %}
        {% endfor %}
    </table>
{% endfor %}
</div>  ## #ByIP

<div id="ByTime" class="tab-pane">
{% for day, sessions_for_day in context.get_host_infos_by_date() %}
    {% if not loop.first %}<hr/>{% endif %}
    <h4>{{ day.strftime("%Y %b %d") }}</h4>
    <table class="SessionLinkTable">
    {% for session in sessions_for_day %}
        {% call generate_session_row(session, loop.first) -%}
            <a href="#" class="SessionLink" data-target="#{{ session.id }}">
               {{- session.start_time().strftime("%H:%M:%S") }}&nbsp;({{ session.duration() }})</a>
            {{ session_ip_or_name(session) }}
        {%- endcall %}
    {% endfor %}
    </table>
{% endfor %}
</div>  ## #ByTime

<div id="Summary" class="tab-pane show active">
{% include "summary.html" %}
</div>  ## #Summary


</div>  ## Tab Content containing #ByIp and #ByTime
</div>  ## #left

<div id="gutter">
</div>

{% macro print_slugs(session) %}
     <ul class="list-unstyled">
     {% set search_slug_list, column_slug_list = session.session_info.get_slug_info() %}
     {% for type, slug_info in (('search', search_slug_list), ('column', column_slug_list)) %}
         <li>
         <b>{{ type.title() }} Slugs: </b>
         {% for slug_name, is_obsolete in slug_info %}
             <span class="{{'text-danger' if is_obsolete else 'text-dark'}}">{{ slug_name }}</span>
             {{- '' if loop.last else ', ' }}  ## minus sign kills the spaces before the comma
         {% else %}
             <i>none</i>
         {% endfor %}
         </li>
     {% endfor %}
     </ul>
{% endmacro %}

{% macro print_session_entries(session) %}
    <table>
    {% for entry in session.entries %}
        {% for line in entry.data %}
        <tr>
            {% if loop.first %}
                {% if entry.opus_url %}
                    <td><a href="{{ context.api_host_url ~ entry.opus_url }}" target="_blank">{{ entry.relative_start_time }}</a></td>
                {% else %}
                    <td>{{ entry.relative_start_time }}</td>
                {% endif %}
                <td><a data-toggle="tooltip" href="#" title="{{ entry.target_url() }}">&bull;</a></td>
            {% else %}
                <td></td><td></td>
            {% endif %}
            <td>{{ line }}</td>
        </tr>
        {% endfor %}
     {% endfor %}
     </table>
{% endmacro %}

<div id="right">
{#  The following node is the parent of all SessionInfo nodes constructed on the fly.
    We give it an id so that we can easily find it.
#}
<div id="session-info-parent" class="tab-content">

{#
The lines marked <<<< and >>>> are special markers for the code that reads the Jinja generated output and then writes
it out to a file.  Each such line consists of four <'s or >'s, an id uniquely marking the session, and the actual
contents of the line.

If we are including session info inline, the code just ignores the <<<<, >>>>, and session id, and outputs whatever
is on the rest of the line.

If session info is in separate files, then the code between the <<<< and >>>> is written in a separate file whose
name is generated from the session.id.  The additional text at the end of the line is ignored.

These markers are never nested.
#}

{% for session in context.sessions %}
    {# If you change the classes in the line below, also change them in the javascript below #}
    <<<< {{ session.id }} <div id="{{ session.id }}" class="SessionInfo tab-pane">
        {% set host_ip = session.host_ip %}
        {% if host_ip in ip_to_host_name %}
            <h3>{{ ip_to_host_name[host_ip] }} ({{ host_ip }}) at {{ session.start_time().strftime("%Y %b %d %H:%M:%S %z") }}</h3>
        {% else %}
            <h3>{{ host_ip }} at {{ session.start_time().strftime("%Y %b %d %H:%M:%S %z") }}</h3>
        {% endif %}
        {% if not context.elide_session_details %}
            {{ print_slugs(session) }}
            <hr/>
            {{ print_session_entries(session) }}
        {% endif %}
    >>>> {{  session.id }} </div>
{% endfor %}
{% include 'histogram.html' %}

</div>  ## class=tabContent
</div>  ## #right
</div>  ## class=row
</div>  ## class=container

<script>

$(function() {
    $('[data-toggle="tooltip"]').tooltip({ boundary: 'window' });

    $('.SessionLink').click(function() {
        let target = $(this).data('target');

        // Deactivate the session links and session infos that are currently active.
        $('.SessionLink.active').removeClass('active');
        $('.SessionInfo.active').removeClass('active');

        // Mark as active all of the Session Links that point to this target so that they will be highlighted.
        $(`a.SessionLink[data-target="${target}"]`).addClass('active');
{% if context.sessions_relative_directory %}
        if ($(target).length == 0) {
            // The DOM node that we want to create doesn't exist.  Create and load it on the fly.
            let node_id = target.substr(1);
            let node = $('<div>', {id:node_id, class:"SessionInfo tab-pane"});
            // Insert this node into the tree
            $('#session-info-parent').append(node);
            // Asynchronously fill in the contents of the node from a file
            let session_location = `{{ context.sessions_relative_directory }}${node_id}.html`;
            $(target).load(session_location);
        }
{% endif %}
        // Mark the target itself (a Session Info) as active.  It's inside a tab pane, so this unhides it.
        $(target).addClass('active');
        $('#right').scrollTop(0);
        return false;
    })
});

let gutter = document.querySelector('#gutter');
let wrapper = gutter.closest('.row');
let boxLeft = wrapper.querySelector('#left');
let boxRight = wrapper.querySelector('#right');

let isHandlerDragging = false;

document.addEventListener('mousedown', function(e) {
  // If mousedown event is fired from gutter, toggle flag to true
  if (e.target === gutter) {
    isHandlerDragging = true;
  }
});

document.addEventListener('mousemove', function(e) {
  // Don't do anything if dragging flag is false
  if (!isHandlerDragging) {
    return false;
  }

  // Get offset
  let containerOffsetLeft = wrapper.offsetLeft;
  let containerOffsetWidth = wrapper.offsetWidth;

  // Get x-coordinate of pointer relative to container
  let pointerRelativeXpos = e.clientX - containerOffsetLeft;

  // FY: Not quite sure what the 8px represents.  In the code I copied.
  let widthToPercentMultiplier = 100.0 / containerOffsetWidth;
  let leftWidth = Math.min(containerOffsetWidth / 2, Math.max(containerOffsetWidth * .10, pointerRelativeXpos - 8));
  boxLeft.style.width =  (leftWidth * widthToPercentMultiplier) + '%';
  gutter.style.left = boxLeft.style.width;
  gutter.style.width = (4 * widthToPercentMultiplier) + '%';
  boxRight.style.width = ((containerOffsetWidth - 4 - leftWidth) * widthToPercentMultiplier) + '%';
});

document.addEventListener('mouseup', function(_e) {
  // Turn off dragging flag when user mouse is up
  isHandlerDragging = false;
});

</script>
</body>
</html>
