<!doctype html>
<html lang="en">
<head>
  <title>Log Analyzer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<style>
#left, #right, #gutter {
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: left;
  height:100%;
}
#left {
  left: 0;
  width: 30%;
  padding-right: 15px;
  padding-left: 15px;
  overflow-y: scroll;
}
#gutter {
  background: blue;
  left: 30%;
  width: 4px;
  cursor: col-resize;
}
#right {
  right: 0;
  width: calc(70% - 4px);
  padding-right: 15px;
  padding-left: 15px;
  overflow-y: scroll;
}
.SessionLink {
  font-family: "Roboto",sans-serif;
}
.SessionLink.active {
  background-color: yellow;
}
.SessionInfo td {
  vertical-align:top;
  padding: 0 5px;
}
table.SessionLinkTable {
  border-collapse: separate;
  border-spacing: 4px 2px;
}
.Summary2 {
  margin-left: 10pt
}
.Summary3 {
  margin-left: 10pt
}
.show_all {   /* Used by --xxshowall for URLs that would orderinarily be ignored. */
  white-space: nowrap;
  color: darkgray;
}
.tooltip-inner {  /* Forces tooltips to be left aligned rather than centered. */
    text-align: left;
}
</style>
</head>
<body>
<div class="container-fluid">
<div class="row">

<div id="left">

<!--
The left hand column is a controlled by a bootstrap navbar.  The user clicks on either "By IP" or "By Time" and
bootstrap shows the appropriate tab-pane in the tab contents.

The left-hand column controls what is visible in the right-hand panel by marking at most one of them as "active".
Being inside a tab contents, only those marked active are made visible.  We unfortunately cannot use a bootstrap navbar
because it requires that all the navigation tabs be within a single unordered list.
-->

<nav class="navbar navbar-light bg-light">
<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" data-target="#ByIP">By IP</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" data-target="#ByTime">By Time</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" data-target="#Summary">Summary</a></li>
</ul>
</nav>

<div class="tab-content">

{% set name_and_glyph =   (("HAS_SEARCH", "search"),
                           ("FETCHED_GALLERY",  "images"),
                           ("HAS_METADATA", "list-ul"),
                           ("HAS_DOWNLOAD", "file-download"),
                           ("HAS_OBSOLETE_SLUG" , "book-dead"))
%}

{% macro generate_session_row(session, full) %}
    <tr>
    {% for flag_name, glyph in name_and_glyph %}
        {% set flag = configuration.flag_name_to_flag(flag_name) %}
        {% set flag_in_use = flag in session.session_info.get_session_flags() %}
        {% if flag_in_use or full %}
            {% set classes = ['fas', 'fa-' + glyph] + ([] if flag_in_use else ['invisible']) %}
            <td><span class="{{ classes | join(' ') }}">&zwj;</span></td>
        {% else %}
            <td></td>
        {% endif %}
    {% endfor %}
    <td>{{ caller() }}</td>
    </tr>
{% endmacro %}

{% macro host_info_ip_or_name(host_info) %}
    {% if host_info.name %}
        <a data-toggle="tooltip" title="{{ host_info.ip }}"> {{host_info.name}}</a>
    {% else %}
        {{ host_info.ip }}
    {% endif %}
{% endmacro %}

{% macro session_ip_or_name(session_info) %}
    {% if session_info.host_ip in ip_to_host_name %}
        <a data-toggle="tooltip" title="{{ session_info.host_ip }}"> {{ ip_to_host_name[session_info.host_ip] }}</a>
    {% else %}
        {{ session_info.host_ip }}
    {% endif %}
{% endmacro %}



<div id="ByIP" class="tab-pane show active">
{% for host_info in host_infos_by_ip %}
    {% if not loop.first %}<hr/>{% endif %}
    {{ host_info_ip_or_name(host_info) }}
    ({{ host_info.total_time }})
    <table class="SessionLinkTable">
        {% for session in host_info.sessions %}
            {% call generate_session_row(session, loop.first) -%}
               <a href="#" class=SessionLink data-target="#{{ session.id }}">
                    {{ session.start_time().strftime("%Y %b %d %H:%M:%S") }} ({{ session.duration() }})</a>
            {%- endcall %}
        {% endfor %}
    </table>
{% endfor %}
</div>  ## #ByIP

<div id="ByTime" class="tab-pane">
{% for day, host_infos_for_day in host_infos_by_date %}
    {% if not loop.first %}<hr/>{% endif %}
    <h4>{{ day.strftime("%Y %b %d") }}</h4>
    <table class="SessionLinkTable">
    {% for host_info in host_infos_for_day %}
        {% set session = host_info.sessions[0] %}
        {% call generate_session_row(session, loop.first) -%}
            <a href="#" class=SessionLink data-target="#{{ session.id }}">
               {{ session.start_time().strftime("%H:%M:%S") }}&nbsp;({{ session.duration() }})</a>
            {{ host_info_ip_or_name(host_info) }}
        {%- endcall %}
    {% endfor %}
    </table>
{% endfor %}
</div>  ## #ByTime

<div id="Summary" class="tab-pane show active">
<details class="Summary1"><summary>Usage by IP</summary>
    <a href="#" class=SessionLink data-target="#Histogram">Histogram</a>

{% for host_info in host_infos_by_ip|sort(attribute="total_time", reverse=True) %}
    <details class="Summary2">
        <summary>{{ host_info_ip_or_name(host_info) }} ({{ host_info.total_time }})</summary>
        <ul class="SummarySession">
            {% for session in host_info.sessions|sort(attribute="total_time", reverse=True) %}
            <li>
            <a href="#" class=SessionLink data-target="#{{ session.id }}">
                {{ session.start_time().strftime("%Y %b %d %H:%M:%S") }} ({{ session.duration() }})</a>
            </li>
            {% endfor %}
        </ul>
    </details>
{% endfor %}
</details>

{% macro summarize_info(header_name, summary_info) %}
    <details class="Summary1"><summary>{{ header_name }}</summary>
    {% for name, count, grouped_sessions in summary_info %}
        <details class="Summary2">
            <summary>{{ caller(name) }} <span class="badge">{{ count }}</span></summary>
            {% for sessions in grouped_sessions %}
                <details class="Summary3">
                    <summary>{{ session_ip_or_name(sessions[0]) }} <span class="badge">{{ sessions|length }}</span></summary>
                    <ul class="SummarySession">
                    {% for session in sessions %}
                        <li>
                         <a href="#" class=SessionLink data-target="#{{ session.id }}">
                             {{ session.start_time().strftime("%Y %b %d %H:%M:%S") }} ({{ session.duration() }})</a>
                        </li>
                    {% endfor %}
                    </ul>
                </details>
            {% endfor %}
        </details>
    {% endfor %}
    </details>
{% endmacro %}

{% macro summarize_slugs(summary_name, summary_slug_info) %}
    {% call(slug_name) summarize_info(summary_name, summary_slug_info) %}
        <span class="text-dark">{{ slug_name }}</span>
    {% endcall %}
{% endmacro %}

{% set ordered_search_slugs, ordered_column_slugs = configuration.generate_ordered_slugs(sessions, ip_to_host_name) %}
{% set ordered_action_flags = configuration.generate_ordered_action_flags(sessions, ip_to_host_name) %}
<hr/>
{{ summarize_slugs('Search Terms', ordered_search_slugs) }}
<hr/>
{{ summarize_slugs('Metadata', ordered_column_slugs) }}
<hr/>
{% call(flag) summarize_info('Actions', ordered_action_flags) %}
    {{  flag.name|replace("_", " ") }}
{% endcall %}
</div>  ## #Summary


</div>  ## Tab Content containing #ByIp and #ByTime
</div>  ## #left

{% macro print_slugs(session) %}
     <ul class="list-unstyled">
     {% set search_slug_list, column_slug_list = session.session_info.get_slug_info() %}
     {% for type, slug_info in (('search', search_slug_list), ('column', column_slug_list)) %}
         <li>
         <b>{{ type.title() }} Slugs: </b>
         {% for slug_name, is_obsolete in slug_info %}
             <span class="{{'text-danger' if is_obsolete else 'text-dark'}}">{{ slug_name }}</span>
             {{- '' if loop.last else ', ' }}  ## minus sign kills the spaces before the comma
         {% else %}
             <i>none</i>
         {% endfor %}
         </li>
     {% endfor %}
     </ul>
{% endmacro %}

{% macro print_session_entries(session) %}
    <table>
    {% for entry in session.entries %}
        {% for line in entry.data %}
        <tr>
            {% if loop.first %}
                {% if entry.opus_url %}
                    <td><a href="{{ configuration.api_host_url ~ entry.opus_url }}" target="_blank">{{ entry.relative_start_time }}</a></td>
                {% else %}
                    <td>{{ entry.relative_start_time }}</td>
                {% endif %}
                <td><a data-toggle="tooltip" href="#" title="{{ entry.target_url() }}">&bull;</a></td>
            {% else %}
                <td></td><td></td>
            {% endif %}
            <td>{{ line }}</td>
        </tr>
        {% endfor %}
     {% endfor %}
     </table>
{% endmacro %}

<div id="gutter">
</div>

<div id="right">
<div class="tab-content">
{% for host_info in host_infos_by_ip %}
    {% for session in host_info.sessions %}
    <div id="{{ session.id }}" class="SessionInfo tab-pane">
        <h3>{{ host_info.hostname() }} at {{ session.start_time().strftime("%Y %b %d %H:%M:%S %z") }}</h3>
        {{ print_slugs(session) }}
        <hr/>
        {{ print_session_entries(session) }}
    </div>
    {% endfor %}
{% endfor %}
{% include 'histogram.html' %}

</div>  ## class=tabContent
</div>  ## #right
</div>  ## class=row
</div>  ## class=container

<script>

$(function() {
    $('[data-toggle="tooltip"]').tooltip({ boundary: 'window' });

    $('.SessionLink').click(function() {
        let target = $(this).data('target');

        // Deactivate the session links and session infos that are currently active.
        $('.SessionLink.active').removeClass('active');
        $('.SessionInfo.active').removeClass('active');

        // Mark as active both of the Session Links that point to this target so that they will be highlighted.
        $(`a.SessionLink[data-target="${target}"]`).addClass('active');
        // Mark the target itself (a Session Info) as active.  It's inside a tab pane, so this unhides it.
        $(target).addClass('active');

        $('#right').scrollTop(0);
        return false;
    })
});

let gutter = document.querySelector('#gutter');
let wrapper = gutter.closest('.row');
let boxLeft = wrapper.querySelector('#left');
let boxRight = wrapper.querySelector('#right');

let isHandlerDragging = false;

document.addEventListener('mousedown', function(e) {
  // If mousedown event is fired from gutter, toggle flag to true
  if (e.target === gutter) {
    isHandlerDragging = true;
  }
});

document.addEventListener('mousemove', function(e) {
  // Don't do anything if dragging flag is false
  if (!isHandlerDragging) {
    return false;
  }

  // Get offset
  let containerOffsetLeft = wrapper.offsetLeft;
  let containerOffsetWidth = wrapper.offsetWidth;

  // Get x-coordinate of pointer relative to container
  let pointerRelativeXpos = e.clientX - containerOffsetLeft;

  // FY: Not quite sure what the 8px represents.  In the code I copied.
  let widthToPercentMultiplier = 100.0 / containerOffsetWidth;
  let leftWidth = Math.min(containerOffsetWidth / 2, Math.max(containerOffsetWidth * .10, pointerRelativeXpos - 8));
  boxLeft.style.width =  (leftWidth * widthToPercentMultiplier) + '%';
  gutter.style.left = boxLeft.style.width;
  gutter.style.width = (4 * widthToPercentMultiplier) + '%';
  boxRight.style.width = ((containerOffsetWidth - 4 - leftWidth) * widthToPercentMultiplier) + '%';
});

document.addEventListener('mouseup', function(e) {
  // Turn off dragging flag when user mouse is up
  isHandlerDragging = false;
});

</script>
</body>
</html>
